/*
Design:   EuroART93
XHTML/CSS:  EuroART93
*/
/* ==================================================
    =Reset
===================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==================================================
    =Less CSS
===================================================== */
.box-shadow-none {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ir {
  text-indent: -9999px;
  outline: none;
}
.cf {
  zoom: 1;
}
.cf:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* ==================================================
    =General
===================================================== */
.left {
  text-align: left !important;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}
.alignleft {
  float: left;
}
.aligncenter {
  margin: 0 auto;
}
.alignright {
  float: right;
}
.alignleft.clear,
.alignright.clear,
.aligncenter.clear {
  float: none;
}
img.alignleft,
table.alignleft,
.image-container.alignleft {
  margin: 5px 10px 5px 0;
}
img.alignright,
table.alignright,
.image-container.alignright {
  margin: 5px 0 5px 10px;
}
img.aligncenter {
  display: block;
  margin: 10px auto;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.mobile-show {
  display: block !important;
}
.mobile-hide {
  display: none !important;
}
.cf:before,
.cf:after,
.container:before,
.container:after,
.widget:before,
.widget:after,
form ol > li:before,
form ol > li:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.cf:after,
.clear,
.container:after,
.widget:after,
form ol > li:after {
  clear: both;
}
.cf,
.container,
.widget,
form ol > li {
  zoom: 1;
}
/* ==================================================
    =Main tags
===================================================== */
/* Defined in html element when using rem unit */
html {
  font: normal 62.5% 'Helvetica Neue', Arial, sans-serif;
  color: #444;
  background-color: #fff;
}
/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* Buggy in IE7, avoid if developing for IE7 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ==================================================
    =Typography
===================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
.user-content ul,
.user-content ol,
.user-content dl {
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}
h1 {
  font: 400 32px/1.3 'Helvetica Neue', Arial, sans-serif;
}
h2 {
  font: 400 24px/1.2 'Helvetica Neue', Arial, sans-serif;
}
h3 {
  font: 400 22px/1.2 'Helvetica Neue', Arial, sans-serif;
}
h4 {
  font: 400 20px/1.2 'Helvetica Neue', Arial, sans-serif;
}
h5 {
  font: 400 16px/1.2 'Helvetica Neue', Arial, sans-serif;
}
h6 {
  font: 400 14px/1.2 'Helvetica Neue', Arial, sans-serif;
}
a {
  color: #444444;
  text-decoration: none;
}
/* Styling */
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
sup {
  vertical-align: text-top;
  font-size: 75%;
}
sub {
  vertical-align: bottom;
  font-size: 75%;
}
blockquote {
  font-style: italic;
}
/* User generated  */
.user-content ul {
  list-style: disc;
  margin-left: 24px;
}
.user-content ul ul {
  margin-left: 20px;
  margin-bottom: 0;
}
.user-content ul li {
  margin-bottom: 0;
}
.user-content ol {
  margin-left: 24px;
  list-style: decimal;
}
.user-content ol ol {
  list-style: lower-latin;
  margin-bottom: 0;
}
.user-content ul ul,
.view ol ol {
  margin-bottom: 0;
}
.user-content li li {
  font-size: 1em;
}
/* Table */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead th {
  border-top: none;
  font-weight: bold;
  color: #fff;
  background: #222222;
}
table tbody th {
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
}
table td,
table th {
  padding: 5px;
  vertical-align: middle;
}
table tr:nth-child(even) td,
table tr:nth-child(even) th {
  background-color: #eeeeee;
}
/* Normal form */
.normal-form input[type="text"],
.normal-form input[type="password"],
.normal-form input[type="datetime"],
.normal-form input[type="datetime-local"],
.normal-form input[type="date"],
.normal-form input[type="month"],
.normal-form input[type="time"],
.normal-form input[type="week"],
.normal-form input[type="number"],
.normal-form input[type="email"],
.normal-form input[type="url"],
.normal-form input[type="search"],
.normal-form input[type="tel"],
.normal-form input[type="color"],
.normal-form textarea,
.normal-form select {
  -webkit-appearance: none;
}
/* Button styling */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  font: bold 14px/20px 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border: none;
  background: #222222;
  text-align: center;
  overflow: visible;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button:hover {
  color: #fff;
  background-color: #080808;
}
/* ==================================================
    =Layout
===================================================== */
.home {
  overflow-x: hidden;
}
#wrapper {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.user-settings {
  overflow-x: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}
#page-header {
  zoom: 1;
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 1;
}
#page-header:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#page-header .site-logo {
  float: left;
  text-indent: -9999px;
  display: block;
  width: 137px;
  height: 31px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: 137px 31px;
}
#page-header .site-logo a {
  display: block;
}
.menu-btn {
  float: right;
  width: 30px;
  height: 23px;
  background: url(../img/menu-btn.png) no-repeat center center;
  background-size: 30px 23px;
  cursor: pointer;
  display: block;
}
.main-nav {
  display: none;
}
.main-nav-mob {
  display: none;
}
.mobile-nav {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  right: 0;
  -moz-transform: translate3d(260px, 0, 0);
  -webkit-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
  background: #eb0a8d;
  padding: 15px 20px;
  z-index: 20;
  -webkit-box-shadow: inset 12px 0 18px -4px #ad0667;
  box-shadow: inset 12px 0 18px -4px #ad0667;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile-nav .site-name {
  font-family: 'proxima-nova', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.mobile-nav .menu-step-1 li {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0;
  cursor: pointer;
  background: url(../img/arr-right-white.png) 98% center no-repeat;
  border-bottom: 1px solid #ad0667;
}
.mobile-nav .menu-step-1 li a {
  display: block;
  width: 100%;
  color: #fff;
}
.mobile-nav .back {
  padding-left: 20px;
  line-height: 17px;
  font-weight: 500;
  font-size: 14px;
  background: url(../img/arr-left.png) left top no-repeat;
}
.mobile-nav .mob-nav-2 {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background: #28ace2;
  -webkit-box-shadow: inset 12px 0 18px -4px #1d7ea5;
  box-shadow: inset 12px 0 18px -4px #1d7ea5;
  -moz-transform: translate3d(260px, 0, 0);
  -webkit-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile-nav .mob-nav-2 p {
  font-weight: 700;
}
.mobile-nav .mob-nav-2 .menu-step-2 {
  margin-top: 30px;
}
.mobile-nav .mob-nav-2 .menu-step-2 li {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  cursor: pointer;
  background: url(../img/arr-right-white.png) 98% center no-repeat;
  border-bottom: 1px solid #1d7ea5;
}
.mobile-nav .mob-nav-2 .menu-step-2 li a {
  display: block;
  width: 100%;
}
.mobile-nav .mob-nav-2.active {
  -moz-transform: translate3d(0px, 0, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.mobile-nav .mob-nav-3 {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background: #fff;
  -webkit-box-shadow: inset 12px 0 18px -4px #6d6d6d;
  box-shadow: inset 12px 0 18px -4px #6d6d6d;
  -moz-transform: translate3d(260px, 0, 0);
  -webkit-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile-nav .mob-nav-3 .back {
  background: url(../img/arr-left-pink.png) left top no-repeat;
}
.mobile-nav .mob-nav-3 p {
  color: #eb0a8d;
}
.mobile-nav .mob-nav-3 li {
  color: #eb0a8d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
  cursor: pointer;
  background: url(../img/arr-right-pink-2.png) 98% center no-repeat;
  border-bottom: 1px solid #eb0a8d !important;
}
.mobile-nav .mob-nav-3 li a {
  display: block;
  width: 100%;
  color: #eb0a8d;
}
.mobile-nav .mob-nav-3.active {
  -moz-transform: translate3d(0px, 0, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.mob-nav-open .mobile-nav {
  -moz-transform: translate3d(0px, 0, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.mob-nav-open #wrapper {
  -moz-transform: translate3d(-260px, 0, 0);
  -webkit-transform: translate3d(-260px, 0, 0);
  -o-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
}
.login-signup {
  float: left;
  width: 100%;
}
.login-signup li {
  font-family: "proxima-nova";
  font-size: 14px;
  border-right: 1px solid #878787;
  padding-right: 10px;
  display: inline-block;
  float: left;
  text-transform: uppercase;
}
.login-signup .login a {
  color: #28ace2;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.login-signup .login a:hover {
  color: #eb0a8d;
}
.login-signup .signup {
  padding: 0 10px;
  border: none;
}
.login-signup .signup a {
  color: #eb0a8d;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.login-signup .signup a:hover {
  color: #28ace2;
}
.search-form {
  width: 100%;
  float: left;
}
/*--------------------------------------------------- promo & slider*/
#promo {
  position: relative;
  float: left;
  width: 100%;
  height: 295px;
  overflow: hidden;
}
#promo .container {
  float: left;
}
#promo:after {
  content: "";
  width: 3000px;
  height: 50px;
  position: absolute;
  top: 280px;
  left: 50%;
  margin-left: -1500px;
  display: block;
  background: #fff;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#promo .slider-imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 295px;
  overflow: hidden;
}
#promo .slider-imgs span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}
#promo .slider-imgs img {
  height: 295px;
  width: 100%;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
#promo .slider-imgs .current-showing {
  opacity: 1;
  visibility: visible;
}
#promo .slider {
  width: 295px;
  height: 75px;
  position: relative;
  margin: 170px auto 0 auto;
}
#promo .slider .owl-buttons {
  display: none;
}
#promo .slider .owl-pagination {
  text-align: left;
  position: relative;
  top: -100px;
}
#promo .slider .owl-pagination .owl-page {
  display: inline-block;
  text-align: center;
}
#promo .slider .owl-pagination .owl-page span {
  float: left;
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin: 0 3px;
  position: relative;
  bottom: 3px;
}
#promo .slider .owl-pagination .owl-page.active span {
  background: #eb0a8d;
  width: 14px;
  height: 14px;
  bottom: 0;
}
#promo .slider .slide {
  height: 75px;
  overflow: hidden;
  width: 100%;
  display: block;
  zoom: 1;
}
#promo .slider .slide:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#promo .slider .slide .slide-content-wrapper {
  float: right;
  width: 100%;
  height: 75px;
  background: url(../img/ticket.png) no-repeat center center;
  background-size: 100% 75px;
}
#promo .slider .slide .slide-content-wrapper article {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  font-family: "proxima-nova";
  color: #fff;
}
#promo .slider .slide .slide-content-wrapper article h1 {
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
#promo .slider .slide .slide-content-wrapper article p {
  font-style: italic;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0;
}
#promo .owl-controls {
  display: block;
  width: 100%;
  margin: 0 auto;
}
/*--------------------------------------------------- Pop-up*/
#modal.login-trigger {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
#modal.login-trigger .modal-container {
  height: 100%;
  width: 100%;
  position: relative;
}
#modal.login-trigger .modal-box {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 20%;
  background: #ffffff url(../img/gradient-border.png) no-repeat top left;
  background-size: 100% 11px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 70px 5px #000000;
  box-shadow: 0 0 70px 5px #000000;
}
#modal.login-trigger .modal-content {
  zoom: 1;
  padding: 20px;
  position: relative;
}
#modal.login-trigger .modal-content:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#modal.login-trigger .modal-content .close {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/close.png) no-repeat center center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#modal.login-trigger .modal-content h1 {
  font-family: "proxima-nova";
  color: #28ace2;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
#modal.login-trigger .modal-content form {
  float: left;
}
#modal.login-trigger .modal-content form .group {
  float: left;
  width: 100%;
}
#modal.login-trigger .modal-content form .group input[type="text"] {
  float: left;
  width: 100%;
  background: #ececec url(../img/human-icon.png) no-repeat 10px center;
  font-family: "proxima-nova";
  color: #434a5c;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #434a5c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
#modal.login-trigger .modal-content form .group input[type="password"] {
  float: left;
  width: 100%;
  background: #e0f6ff url(../img/lock-icon.png) no-repeat 10px center;
  font-family: "proxima-nova";
  color: #28ace2;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #28ace2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
#modal.login-trigger .modal-content form .group ::-webkit-input-placeholder {
  color: #28ace2;
}
#modal.login-trigger .modal-content form .group :-moz-placeholder {
  color: #28ace2;
}
#modal.login-trigger .modal-content form .group ::-moz-placeholder {
  color: #28ace2;
}
#modal.login-trigger .modal-content form .group :-ms-input-placeholder {
  color: #28ace2;
}
#modal.login-trigger .modal-content form .group.error {
  float: left;
  width: 100%;
  display: none;
}
#modal.login-trigger .modal-content form .group.error .error-msg {
  font-family: "proxima-nova";
  font-size: 12px;
  color: #db1f1f;
  float: right;
  font-weight: 600;
}
#modal.login-trigger .modal-content form .group.error input[type="text"] {
  float: left;
  width: 100%;
  background: #ececec url(../img/human-icon-error.png) no-repeat 10px center;
  font-family: "proxima-nova";
  color: #db1f1f;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #db1f1f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
#modal.login-trigger .modal-content form .group.error input[type="password"] {
  float: left;
  width: 100%;
  background: #e0f6ff url(../img/lock-icon-error.png) no-repeat 10px center;
  font-family: "proxima-nova";
  color: #db1f1f;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #db1f1f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
#modal.login-trigger .modal-content form .group.error ::-webkit-input-placeholder {
  color: #db1f1f;
}
#modal.login-trigger .modal-content form .group.error :-moz-placeholder {
  color: #db1f1f;
}
#modal.login-trigger .modal-content form .group.error ::-moz-placeholder {
  color: #db1f1f;
}
#modal.login-trigger .modal-content form .group.error :-ms-input-placeholder {
  color: #db1f1f;
}
#modal.login-trigger .modal-content form input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
#modal.login-trigger .modal-content form input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
#modal.login-trigger .modal-content form input[type="submit"] {
  float: left;
  width: 100%;
  background: #28ace2;
  font-family: "proxima-nova";
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 0 10px 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-bottom: 5px solid #2c84a9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 35px;
  -webkit-box-shadow: 0 2px 8px 0 #999999;
  box-shadow: 0 2px 8px 0 #999999;
}
#modal.login-trigger .modal-content form .remember-me {
  float: left;
  margin: 10px 0 15px 0;
}
#modal.login-trigger .modal-content form label {
  font-family: "proxima-nova";
  font-size: 12px;
  color: #a5adbe;
  float: left;
  margin: 15px 0 0 15px;
  font-weight: 600;
}
#modal.login-trigger .modal-content .socials-2 {
  float: left;
  width: 100%;
  text-align: center;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 20px 0;
}
#modal.login-trigger .modal-content .socials-2 h2 {
  font-family: "proxima-nova";
  font-size: 16px;
  color: #454545;
  font-style: italic;
  background: #fff;
  padding: 10px;
  margin: -40px auto 0 auto;
  display: block;
  width: 50px;
}
#modal.login-trigger .modal-content .socials-2 .socials-list {
  float: left;
  width: 100%;
  margin-top: 5px;
}
#modal.login-trigger .modal-content .socials-2 .socials-list li {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  background: red;
}
#modal.login-trigger .modal-content .socials-2 .socials-list li a {
  display: block;
  width: 32px;
  height: 32px;
  border: 0;
}
#modal.login-trigger .modal-content .socials-2 .socials-list li:last-child {
  margin-right: 0;
}
#modal.login-trigger .modal-content .socials-2 .socials-list .face {
  background: url(../img/face-icon.jpg) no-repeat center center;
}
#modal.login-trigger .modal-content .socials-2 .socials-list .b {
  background: url(../img/b-icon.jpg) no-repeat center center;
}
#modal.login-trigger .modal-content .socials-2 .socials-list .ok {
  background: url(../img/ok-icon.jpg) no-repeat center center;
}
#modal.login-trigger .modal-content .socials-2 .socials-list .twitter {
  background: url(../img/twitter-icon.jpg) no-repeat center center;
}
#modal.login-trigger .modal-content .socials-2 .socials-list .ggl {
  background: url(../img/ggl-icon.jpg) no-repeat center center;
}
#modal.login-trigger .modal-content .help {
  margin-top: 20px;
  float: left;
  width: 100%;
}
#modal.login-trigger .modal-content .help a {
  font-family: "proxima-nova";
  font-size: 14px;
  color: #28ace2;
  border-bottom: 1px solid #d7ecf8;
}
#modal.login-trigger .modal-content .help p {
  float: right;
  font-family: "proxima-nova";
  font-size: 14px;
  color: #9c9c9c;
  margin-bottom: 0;
}
#modal.login-trigger .modal-content .help p a {
  color: #28ace2;
}
#modal.registration-trigger {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
#modal.registration-trigger .modal-box {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 20%;
  background: #ffffff url(../img/gradient-border.png) no-repeat top left;
  background-size: 100% 11px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 70px 5px #000000;
  box-shadow: 0 0 70px 5px #000000;
}
#modal.registration-trigger .modal-content {
  zoom: 1;
  padding: 20px;
  position: relative;
}
#modal.registration-trigger .modal-content:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#modal.registration-trigger .modal-content .close {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/close.png) no-repeat center center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#modal.registration-trigger .modal-content h1 {
  font-family: "proxima-nova";
  color: #28ace2;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  float: left;
  width: 100%;
}
#modal.registration-trigger .modal-content p {
  font-family: "proxima-nova";
  color: #959595;
  font-size: 15px;
  float: left;
}
#modal.registration-trigger .modal-content form {
  float: left;
}
#modal.registration-trigger .modal-content form .group {
  float: left;
  width: 100%;
}
#modal.registration-trigger .modal-content form .group input[type="text"] {
  float: left;
  width: 100%;
  font-family: "proxima-nova";
  color: #434a5c;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #434a5c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
}
#modal.registration-trigger .modal-content form .group input[type="password"] {
  float: left;
  width: 100%;
  font-family: "proxima-nova";
  color: #434a5c;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #434a5c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
#modal.registration-trigger .modal-content form .group .user {
  background: #ececec url(../img/human-icon.png) no-repeat 10px center;
}
#modal.registration-trigger .modal-content form .group .email {
  background: #ececec url(../img/email-icon.png) no-repeat 10px center;
}
#modal.registration-trigger .modal-content form .group .password {
  background: #ececec url(../img/lock-grey.png) no-repeat 10px center;
}
#modal.registration-trigger .modal-content form .group .test {
  background: #ececec url(../img/cloud-msg.png) no-repeat 10px center;
}
#modal.registration-trigger .modal-content form .group ::-webkit-input-placeholder {
  color: #28ace2;
}
#modal.registration-trigger .modal-content form .group :-moz-placeholder {
  color: #28ace2;
}
#modal.registration-trigger .modal-content form .group ::-moz-placeholder {
  color: #28ace2;
}
#modal.registration-trigger .modal-content form .group :-ms-input-placeholder {
  color: #28ace2;
}
#modal.registration-trigger .modal-content form .group.test-thumb {
  text-align: center;
  margin: 10px 0;
}
#modal.registration-trigger .modal-content form input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
#modal.registration-trigger .modal-content form input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
#modal.registration-trigger .modal-content form input[type="submit"] {
  float: left;
  width: 100%;
  background: #28ace2;
  font-family: "proxima-nova";
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 0 10px 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-bottom: 5px solid #2c84a9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 2px 8px 0 #999999;
  box-shadow: 0 2px 8px 0 #999999;
}
/*--------------------------------------------------- Main*/
#main {
  float: left;
  width: 100%;
}
.search-wrapper {
  display: block;
  width: 290px;
  height: 117px;
  margin: -35px auto 0 auto;
  background: url(../img/search-wrapper-bg.png) no-repeat center center;
  background-size: 290px 117px;
  position: relative;
}
.search-wrapper .content {
  float: left;
  width: 202px;
  margin-left: 10px;
}
.search-wrapper .content p {
  font-family: "proxima-nova";
  color: #646464;
  font-style: italic;
  font-size: 10px;
  text-align: center;
}
.search-wrapper .content p span {
  color: #28ace2;
}
.search-wrapper .contextual-search {
  width: 280px;
  float: left;
  background: white;
  position: absolute;
  top: 35px;
  left: 8px;
  z-index: 2;
  border-bottom: 4px solid #28ace2;
  -webkit-box-shadow: 0 5px 10px 1px #999999;
  box-shadow: 0 5px 10px 1px #999999;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.search-wrapper .contextual-search ul {
  float: left;
  width: 100%;
}
.search-wrapper .contextual-search ul li {
  float: left;
  width: 100%;
}
.search-wrapper .contextual-search a {
  font-family: "proxima-nova";
  padding: 10px;
  width: 100%;
  display: block;
  font-size: 13px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search-wrapper .contextual-search a:hover {
  background: #28ace2;
  color: #fff;
}
.search-wrapper .contextual-search p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 13px;
  color: #cbcbcb;
}
.search-wrapper .contextual-search h1 {
  font-family: "proxima-nova";
  width: 100%;
  display: block;
  font-size: 16px;
  margin-bottom: 0;
}
.search-wrapper .contextual-search .title {
  background: #f2f2f2;
  color: #28ace2;
  text-transform: uppercase;
  float: left;
  padding: 10px 0 10px 35px;
  display: block;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  font-size: 12px;
  font-weight: 700;
}
.search-wrapper .contextual-search .top-results {
  background: #f2f2f2 url(../img/star-icon.png) no-repeat 10px 9px;
}
.search-wrapper .contextual-search .performers {
  background: #f2f2f2 url(../img/microphone-icon.png) no-repeat 10px 9px;
}
.search-wrapper .contextual-search .events {
  background: #f2f2f2 url(../img/calendar-icon.png) no-repeat 10px 9px;
}
.search-wrapper .contextual-search .venues {
  background: #f2f2f2 url(../img/venue-icon.png) no-repeat 10px 13px;
}
.contextual-search.active {
  visibility: visible;
  opacity: 1;
}
.search-form {
  position: relative;
  float: left;
}
.search-form input[type="text"] {
  background: #28ace2;
  border: none;
  outline: none;
  width: 202px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  font-size: 14px;
  font-family: "proxima-nova";
  color: #fff;
  float: left;
  margin: 5px 6px 10px 10px;
}
.search-form .search-btn {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0;
  outline: none;
  font-family: "proxima-nova";
  color: #fff;
  font-size: 11px;
  background: #eb0a8d;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 12px 6px;
  float: left;
  margin-top: 5px;
}
.search-form .search-btn:hover {
  background: #28ace2;
}
.search-form input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-form input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
.search-form ::-webkit-input-placeholder {
  color: #004d6c;
  font-style: italic;
  font-size: 14px;
}
.search-form :-moz-placeholder {
  /* Firefox 18- */
  color: #004d6c;
  font-style: italic;
  font-size: 14px;
}
.search-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #004d6c;
  font-style: italic;
  font-size: 14px;
}
.search-form :-ms-input-placeholder {
  color: #004d6c;
  font-style: italic;
  font-size: 14px;
}
.events {
  zoom: 1;
  float: left;
  width: 100%;
  padding-bottom: 30px;
}
.events:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.events .title {
  float: left;
  width: 100%;
  font-family: "proxima-nova";
  font-size: 18px;
  color: #28ace2;
  text-transform: uppercase;
  background: url(../img/gradient-border.png) no-repeat left bottom;
  padding-bottom: 5px;
  background-size: 190px 7px;
}
.events .title span {
  float: left;
  width: 100%;
  font-size: 12px;
  color: #9d9d9d;
}
.events .title .event-number {
  font-size: 24px;
  color: #28ace2;
  float: left;
  width: auto;
  margin-top: -5px;
  padding-right: 7px;
}
.events article {
  float: left;
  width: 100%;
  text-align: center;
}
.events article h1 {
  font-family: "proxima-nova";
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
}
.events article .blue {
  color: #28ace2;
}
.events article .pink {
  color: #eb0a8d;
}
.events article p {
  color: #454545;
  font-family: "proxima-nova";
  font-size: 14px;
  line-height: 19px;
}
.events .thumb {
  width: 100%;
  text-align: center;
  float: left;
  display: block;
}
.events .thumb .thumb-wrapper {
  display: block;
  width: 155px;
  height: 155px;
  margin: 0 auto;
  position: relative;
}
.events .thumb .thumb-wrapper img {
  position: absolute;
  left: 0;
  top: 0;
}
.popular-events {
  zoom: 1;
  width: 100%;
  float: left;
  background: url(../img/dgdot.png), #086084 url(../img/pink.png) bottom center no-repeat;
}
.popular-events:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.popular-events .title {
  font-family: "proxima-nova";
  font-size: 18px;
  background: url(../img/gradient-border2.png) no-repeat bottom left;
  background-size: 190px 7px;
  float: left;
  width: 100%;
  color: #07b3e9;
  padding-bottom: 6px;
  margin-top: -22px;
  margin-bottom: 20px;
}
.popular-events form {
  display: block;
  width: 280px;
  margin: 0 auto;
}
.popular-events form div.fancy-select div.trigger {
  font-family: "proxima-nova";
  font-size: 16px;
  color: #1c6a8d;
}
.popular-events form label {
  font-family: "proxima-nova";
  font-size: 15px;
  text-transform: uppercase;
  color: #07b3e9;
  float: left;
  font-weight: 600;
  padding-top: 10px;
}
.popular-events .box-wrapper {
  zoom: 1;
  width: 280px;
  display: block;
  margin: 75px auto 0;
}
.popular-events .box-wrapper:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.popular-events .box {
  width: 100%;
  float: left;
  background: #fff;
  margin-bottom: 40px;
  position: relative;
}
.popular-events .thumb {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
.popular-events .thumb img {
  width: 100%;
  float: left;
}
.popular-events .thumb .category {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: "proxima-nova";
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  z-index: 1;
}
.popular-events .box-content {
  float: left;
  padding: 10px 10px 25px 10px;
  position: relative;
  background: #fff;
  z-index: 1;
  width: 100%;
}
.popular-events .box-content h1 {
  font-family: "proxima-nova";
  font-weight: 600;
  color: #28ace2;
  font-size: 18px;
  text-transform: uppercase;
}
.popular-events .box-content h2 {
  font-family: "proxima-nova";
  color: #707070;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 0;
}
.popular-events .box-content .favorite {
  display: block;
  width: 40px;
  height: 40px;
  background: #ffffff url(../img/heart.png) no-repeat center center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  top: 86px;
  right: 50px;
}
.popular-events .box-content .add {
  display: block;
  width: 40px;
  height: 40px;
  background: #ffffff url(../img/add.png) no-repeat center center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  top: 86px;
  right: 0;
}
.popular-events .box:after {
  content: "";
  display: block;
  width: 280px;
  height: 51px;
  position: absolute;
  left: 0;
  bottom: -27px;
  background: url(../img/after-shadow.png) no-repeat center center;
  background-size: 100% 51px;
}
.popular-searches {
  zoom: 1;
  float: left;
  width: 100%;
  padding-bottom: 30px;
}
.popular-searches:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.popular-searches .container {
  width: 300px;
}
.popular-searches .title {
  font-family: "proxima-nova";
  font-size: 18px;
  background: url(../img/gradient-border2.png) no-repeat bottom left;
  background-size: 190px 7px;
  float: left;
  width: 100%;
  color: #07b3e9;
  padding-bottom: 6px;
  margin: 20px 0;
}
.popular-searches .search-list-wrapper {
  margin-bottom: 20px;
}
.popular-searches .search-list-wrapper h1 {
  font-family: "proxima-nova";
  font-weight: 600;
  color: #28ace2;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.popular-searches .search-list-wrapper ul li {
  padding-bottom: 10px;
  font-family: "proxima-nova";
  color: #606060;
  font-size: 15px;
  margin-bottom: 0;
}
.popular-searches .search-list-wrapper .more {
  font-family: "proxima-nova";
  color: #a654a5;
  font-size: 15px;
  padding-right: 10px;
  background: url(../img/arr-right.png) no-repeat right center;
  background-size: 4px 8px;
  float: left;
}
#page-footer {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 110px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  background: #1a89a8;
  background: -moz-radial-gradient(center, ellipse cover, #1a89a8 0%, #045283 77%, #045283 77%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1a89a8), color-stop(77%, #045283), color-stop(77%, #045283));
  background: -webkit-radial-gradient(center, ellipse cover, #1a89a8 0%, #045283 77%, #045283 77%);
  background: -o-radial-gradient(center, ellipse cover, #1a89a8 0%, #045283 77%, #045283 77%);
  background: -ms-radial-gradient(center, ellipse cover, #1a89a8 0%, #045283 77%, #045283 77%);
  background: url(../img/dgdot.png) top left, radial-gradient(ellipse at center, #1a89a8 0%, #045283 77%, #045283 77%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a89a8', endColorstr='#045283', GradientType=1);
}
#page-footer .logo {
  text-indent: -9999px;
  display: block;
  width: 195px;
  height: 46px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: 195px 46px;
  margin: 25px auto;
}
#page-footer .logo a {
  display: block;
}
#page-footer .footer-nav {
  float: left;
  width: 100%;
  text-align: center;
}
#page-footer .footer-nav li {
  padding-bottom: 15px;
}
#page-footer .footer-nav li a {
  color: #fff;
  font-family: "proxima-nova";
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}
#page-footer .social-wrapper {
  float: left;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 20px 0 30px 0;
}
#page-footer .socials {
  display: block;
  width: 290px;
  margin: 0 auto;
}
#page-footer .socials li {
  display: inline-block;
  padding-right: 30px;
  position: relative;
}
#page-footer .socials li a {
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
#page-footer .socials li .flip {
  position: absolute;
  width: 44px;
  height: 44px;
  top: -2px;
  left: 50%;
  margin-left: -22px;
}
#page-footer .socials li .flip .inner {
  position: relative;
  width: 44px;
  height: 44px;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -o-perspective: 1500px;
  perspective: 1500px;
}
#page-footer .socials li .flip .inner img {
  padding-top: 13px;
}
#page-footer .socials li .flip .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  z-index: 900;
  /* webkit */
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* moz */
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -moz-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* ms */
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  -ms-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* opera */
  -o-transform: rotateX(0deg) rotateY(0deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  -o-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* default */
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
}
#page-footer .socials li .flip .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  z-index: 800;
  /* webkit */
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* moz */
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -moz-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* ms */
  -ms-transform: rotateY(-180deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  -ms-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* opera */
  -o-transform: rotateY(-180deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  -o-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* default */
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  background: #145b8c;
}
#page-footer .socials li:hover .flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border-right: none;
}
#page-footer .socials li:hover .flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
#page-footer .socials li:last-child {
  padding-right: 0;
}
#page-footer .socials li:last-child:after {
  display: none;
}
#page-footer .socials li:after {
  content: "";
  width: 19px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  left: 50px;
  background: url(../img/social-divider.png) no-repeat center center;
  background-size: 19px 20px;
}
#page-footer .disclaimer {
  float: left;
  width: 100%;
  text-align: center;
}
#page-footer .disclaimer p {
  font-family: "proxima-nova";
  color: #6bccf3;
  font-size: 12px;
  font-weight: 600;
}
#page-footer:after {
  content: "";
  display: block;
  width: 650px;
  height: 164px;
  position: absolute;
  left: 50%;
  margin-left: -325px;
  bottom: 0;
  background: url(../img/city.png) no-repeat center center;
  background-size: 650px 164px;
}
/*---------------------------------------------------------- User settings*/
#main.subpage .search-wrapper {
  width: 290px;
  height: 37px;
  background: url(../img/subpage-searchwrapper-bg.png) no-repeat center center;
  background-size: 290px 37px;
}
#main.subpage input[type="text"] {
  width: 206px;
  margin: 5px 6px 10px 5px;
}
#main:before {
  content: "";
  width: 3000px;
  height: 370px;
  position: absolute;
  top: 280px;
  left: 50%;
  margin-left: -1500px;
  display: block;
  background: #fff;
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#main.subpage:before {
  content: "";
  width: 3000px;
  height: 370px;
  position: absolute;
  top: 280px;
  left: 50%;
  margin-left: -1500px;
  display: block;
  background: #fff;
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#account-settings {
  float: left;
  width: 100%;
}
#account-settings .title {
  float: left;
  width: 240px;
  font-family: "proxima-nova";
  font-size: 17px;
  color: #28ace2;
  text-transform: uppercase;
  background: url(../img/gradient-border.png) no-repeat left bottom;
  padding-bottom: 8px;
  background-size: 190px 7px;
  margin: 10px 0 30px 50px;
  position: relative;
}
#account-settings .title:before {
  content: "";
  position: absolute;
  width: 37px;
  height: 34px;
  background: url(../img/gear-icon.png) no-repeat center center;
  top: 0;
  left: -47px;
}
.tabs {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.tabs .btn {
  border: 1px solid #c7c7c7;
  float: left;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 0 6px 10px 0;
  width: 135px;
  height: 45px;
  display: block;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.tabs .btn a {
  font-family: "proxima-nova";
  font-size: 14px;
  color: #646464;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  padding-top: 16px;
  text-align: center;
  outline: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tabs .btn.selected a {
  color: #28ace2;
}
#main.subpage .user-info {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#main.subpage .user-info h1 {
  font-family: "proxima-nova";
  font-size: 15px;
  color: #6e6e6e;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#main.subpage .user-info form {
  float: left;
  width: 100%;
}
#main.subpage .user-info form input[type="text"] {
  float: left;
  width: 100%;
  background: #ececec url(../img/human-icon.png) no-repeat 10px center;
  font-family: "proxima-nova";
  color: #434a5c;
  font-size: 16px;
  padding: 10px 10px 10px 40px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #434a5c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
}
#main.subpage .user-info form .group .email {
  background: #ececec url(../img/email-icon.png) no-repeat 10px center;
  background-size: 18px 13px;
}
#main.subpage .user-info form .group .location {
  background: #ececec url(../img/location-icon.png) no-repeat 10px center;
}
#main.subpage .user-info form ::-webkit-input-placeholder {
  color: #28ace2;
}
#main.subpage .user-info form :-moz-placeholder {
  color: #28ace2;
}
#main.subpage .user-info form ::-moz-placeholder {
  color: #28ace2;
}
#main.subpage .user-info form :-ms-input-placeholder {
  color: #28ace2;
}
#main.subpage .user-info form input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
#main.subpage .user-info form input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
#main.subpage .user-info .section {
  float: left;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: url(../img/dot.png) repeat-x left bottom;
  background-size: 5px 3px;
}
#main.subpage .user-info .user-img {
  float: left;
  width: 107px;
  height: 107px;
  background: url(../img/profile-placeholder.png) no-repeat center center;
  background-size: 107px 107px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-right: 10px;
}
#main.subpage .user-info .section.profile-pic label {
  width: 58%;
  font-family: "proxima-nova";
  font-size: 11px;
  color: #28ace2;
  float: left;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 15px;
}
#main.subpage .user-info .instruction {
  font-family: "proxima-nova";
  font-size: 12px;
  color: #707070;
  font-style: italic;
  line-height: 15px;
  float: left;
  width: 58%;
}
#main.subpage .user-info .fupload-wrapper {
  float: left;
  width: 58%;
  height: 44px;
  margin: 15px 0;
  background: url(../img/fupload-mobile.png) no-repeat left center;
  background-size: 179px  49px;
}
#main.subpage .user-info .fupload-wrapper .fup-name {
  display: none;
}
#main.subpage .user-info .fupload-wrapper input[type="file"] {
  width: 100%;
  height: 44px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  position: relative;
  z-index: 10;
  float: left;
}
#main.subpage .user-info .remember-me {
  float: left;
  margin-right: 10px;
}
#main.subpage .user-info .section.mail {
  background: transparent;
}
#main.subpage .user-info .section.mail .group {
  float: left;
  width: 100%;
  background: url(../img/dot.png) repeat-x left bottom;
  background-size: 5px 3px;
  margin-bottom: 15px;
}
#main.subpage .user-info .section.mail .group.break {
  background: transparent;
}
#main.subpage .user-info .section.mail label {
  font-family: "proxima-nova";
  font-size: 17px;
  font-weight: 700;
  color: #28ace2;
  text-transform: uppercase;
  float: left;
  margin-bottom: 5px;
}
#main.subpage .user-info .section.mail p {
  font-family: "proxima-nova";
  font-size: 12px;
  color: #707070;
  line-height: 15px;
  float: left;
  margin-left: 30px;
  margin-bottom: 15px;
}
#main.subpage .user-info .section.mail a {
  font-family: "proxima-nova";
  font-size: 16px;
  color: #28ace2;
  font-style: italic;
  border-bottom: 1px solid #c1e2f4;
}
#main.subpage .user-info .section.mail input[type="submit"] {
  width: 100%;
  height: 44px;
  background: #28ace2;
  border: none;
  border-bottom: 3px solid #2c84a9;
  font-family: "proxima-nova";
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 8px 0 #999999;
  box-shadow: 0 2px 8px 0 #999999;
}
.following {
  width: 100%;
  float: left;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.following h1 {
  font-family: "proxima-nova";
  color: #28ace2;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}
.following h2 {
  font-family: "proxima-nova";
  color: #28ace2;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 30px;
}
.following form {
  zoom: 1;
}
.following form:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.following .group {
  position: relative;
  float: left;
  width: 100%;
}
.following .group input[type="search"] {
  float: left;
  width: 100%;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background: #9bd8f1;
  border: 0;
  font-family: "proxima-nova";
  color: #086084;
  font-size: 17px;
  outline: none;
  padding: 10px;
  padding-right: 50px;
}
.following .group .search-btn {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 28px;
  height: 28px;
  background: url(../img/loopus.png) no-repeat center center;
  background-size: 28px;
  border: 0;
  outline: none;
  text-indent: -9999px;
  cursor: pointer;
}
.following .group ::-webkit-input-placeholder {
  color: #086084;
}
.following .group :-moz-placeholder {
  color: #086084;
}
.following .group ::-moz-placeholder {
  color: #086084;
}
.following .group :-ms-input-placeholder {
  color: #086084;
}
.following .group input[type="search"]:focus::-webkit-input-placeholder {
  color: transparent;
}
.following .group input[type="search"]:focus:-moz-placeholder {
  color: transparent;
}
.following ul {
  zoom: 1;
  width: 290px;
  display: block;
  margin: 30px auto;
}
.following ul:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.following ul li {
  display: inline-block;
  width: 62px;
  height: 75px;
  margin: 0 16px;
}
.following ul li .sticker-name {
  font-family: "proxima-nova";
  font-size: 14px;
  color: #086084;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.following ul li .sticker-name p {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.following ul .flip {
  width: 56px;
  height: 67px;
}
.following ul .flip .inner {
  position: relative;
  width: 56px;
  height: 55px;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -o-perspective: 1500px;
  perspective: 1500px;
  margin-bottom: 10px;
  text-align: center;
}
.following ul .flip .inner img {
  padding-top: 12px;
}
.following ul .flip .front {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #086084;
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 55px;
  z-index: 900;
  /* webkit */
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* moz */
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -moz-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* ms */
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  -ms-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* opera */
  -o-transform: rotateX(0deg) rotateY(0deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  -o-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* default */
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
}
.following ul .flip .back {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #eb0a8d;
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 55px;
  z-index: 800;
  /* webkit */
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* moz */
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -moz-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* ms */
  -ms-transform: rotateY(-180deg);
  -ms-transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  -ms-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* opera */
  -o-transform: rotateY(-180deg);
  -o-transform-style: preserve-3d;
  -o-backface-visibility: hidden;
  -o-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
  /* default */
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.1);
}
.following ul li:hover .sticker-name p {
  color: #eb0a8d;
}
.following ul li:hover .flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border-right: none;
}
.following ul li:hover .flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
.following ul li.active .sticker-name p {
  color: #eb0a8d;
}
.following ul li.active .flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border-right: none;
}
.following ul li.active .flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
.hunter-wrapper {
  zoom: 1;
  padding-bottom: 40px;
  margin-bottom: 30px;
  background: url(../img/results-divider.png) no-repeat center bottom;
}
.hunter-wrapper:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.results {
  zoom: 1;
  width: 100%;
}
.results:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.results .box {
  zoom: 1;
  position: relative;
  width: 95%;
  min-height: 96px;
  background: #f2f2f2;
  margin-bottom: 30px;
  float: left;
}
.results .box:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.results .box h1 {
  margin-bottom: 10px;
  line-height: 20px;
}
.results .box a {
  color: #28ace2;
}
.results .box p {
  font-family: "proxima-nova";
  color: #707070;
  font-size: 11px;
  font-style: italic;
  margin-bottom: 20px;
  line-height: 14px;
}
.results .box .thumb {
  float: left;
  margin-right: 10px;
}
.results .box .box-content {
  float: left;
  width: 53%;
  padding: 10px 20px 0 0;
}
.results .box .close {
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -15px;
  width: 31px;
  height: 31px;
  display: block;
  cursor: pointer;
  background: url(../img/close-icon.png) no-repeat center center;
  background-size: 31px;
  text-indent: -9999px;
}
.results .box:after {
  content: "";
  width: 100%;
  height: 25px;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  background: url(../img/big-box-shadow.png) no-repeat left bottom;
  background-size: 100% 25px;
  visibility: visible;
  z-index: -1;
}
/* ==================================================
    =Media Queries
===================================================== */
@media only screen and (min-width: 768px) {
  .container {
    width: 751px;
    float: none;
  }
  #modal.login-trigger .modal-box {
    width: 360px;
    padding: 20px 30px;
  }
  #modal.login-trigger .modal-content .close {
    top: 0;
    right: 0;
  }
  #modal.registration-trigger .modal-box {
    width: 360px;
    padding: 20px 30px;
  }
  #modal.registration-trigger .modal-content .close {
    top: 0;
    right: 0;
  }
  #page-header .container {
    width: 100%;
  }
  #promo .container {
    width: 100%;
  }
  #page-header {
    padding: 40px 30px;
  }
  #page-header .site-logo {
    width: 275px;
    height: 62px;
    background-size: 275px 62px;
  }
  #promo {
    height: 620px;
  }
  #promo .slider-imgs {
    height: 620px;
  }
  #promo .slider-imgs img {
    height: 620px;
  }
  #promo:after {
    top: 587px;
    height: 500px;
  }
  .login-signup {
    width: 160px;
    float: right;
    margin-top: 4px;
  }
  .login-signup li {
    font-size: 16px;
  }
  .login-signup .login {
    position: relative;
  }
  .login-signup .login:after {
    content: "";
    width: 31px;
    height: 31px;
    position: absolute;
    top: -7px;
    left: -40px;
    display: block;
    background: url(../img/login-icon.png) no-repeat left center;
  }
  #promo .slider {
    width: 319px;
    height: 92px;
    position: absolute;
    right: 50px;
    top: 380px;
    margin: 0;
  }
  #promo .slider .slide {
    width: 319px;
    height: 92px;
  }
  #promo .slider .slide .slide-content-wrapper {
    height: 92px;
    background-size: 100% 92px;
  }
  #promo .slider .slide .slide-content-wrapper article {
    padding: 10px 15px;
  }
  #promo .slider .slide .slide-content-wrapper article h1 {
    font-size: 17px;
  }
  #promo .slider .slide .slide-content-wrapper article p {
    font-size: 14px;
  }
  #promo .slider .owl-pagination {
    top: -120px;
  }
  #promo .slider .owl-pagination .owl-page span {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
  #promo .slider .owl-pagination .owl-page.active span {
    width: 16px;
    height: 16px;
  }
  .search-wrapper {
    width: 740px;
    height: 298px;
    background-size: 740px 298px;
    margin-top: -115px;
  }
  .search-wrapper .search-form input[type=text] {
    width: 510px;
    margin: 15px 20px 40px 30px;
    font-size: 22px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 15px 0 15px 10px;
  }
  .search-wrapper .search-form ::-webkit-input-placeholder {
    font-size: 22px;
  }
  .search-wrapper .search-form :-moz-placeholder {
    font-size: 22px;
  }
  .search-wrapper .search-form ::-moz-placeholder {
    font-size: 22px;
  }
  .search-wrapper .search-form :-ms-input-placeholder {
    font-size: 22px;
  }
  .search-wrapper .search-form input[type="submit"] {
    font-size: 16px;
    font-weight: 600;
    padding: 18px 50px 19px;
    margin-top: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .search-wrapper .content {
    margin-left: 35px;
    width: 502px;
  }
  .search-wrapper .content p {
    font-size: 16px;
  }
  .search-wrapper .contextual-search {
    top: 73px;
    left: 30px;
    width: 510px;
  }
  .events {
    float: none;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .events .title {
    width: 260px;
    font-size: 23px;
    background-size: 260px 11px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  .events .title span {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .events .title .event-number {
    font-size: 34px;
    margin-top: -10px;
  }
  .events article p {
    font-size: 16px;
    line-height: 22px;
  }
  .events .features {
    float: left;
  }
  .events .features .feature {
    float: left;
    width: 320px;
    margin: 0 22px 20px;
  }
  .popular-events {
    padding-bottom: 30px;
  }
  .popular-events .title {
    font-size: 26px;
    margin-top: -107px;
    background-size: 260px 11px;
    padding-bottom: 10px;
    width: 310px;
  }
  .popular-events form {
    float: right;
    margin-right: 55px;
    margin-top: -50px;
  }
  .popular-events .box-wrapper {
    width: 100%;
  }
  .popular-events .box-wrapper .box {
    width: 260px;
    margin: 20px 52px 40px;
  }
  .popular-events .box-wrapper .box:after {
    background: url(../img/after-shadow.png) no-repeat left center;
    background-size: 260px 51px;
  }
  .popular-searches .container {
    width: 751px;
  }
  .popular-searches .title {
    font-size: 26px;
    background-size: 260px 11px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .popular-searches .search-list-wrapper {
    margin-bottom: 40px;
    float: left;
    width: 240px;
  }
  #page-footer {
    padding-bottom: 0;
  }
  #page-footer .logo {
    float: left;
    background: url(../img/logo.png) no-repeat left center;
    background-size: 195px 46px;
    width: 60%;
  }
  #page-footer .footer-nav {
    text-align: left;
    width: 50%;
  }
  #page-footer .socials {
    float: right;
    margin-top: -270px;
    width: 360px;
  }
  #page-footer .socials li {
    padding-left: 15px;
  }
  #page-footer .socials li a {
    width: 50px;
    height: 50px;
  }
  #page-footer .socials li a .flip {
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }
  #page-footer .socials li a .flip .inner {
    width: 50px;
    height: 50px;
  }
  #page-footer .socials li a .flip .inner img {
    padding-top: 17px;
  }
  #page-footer .socials li a .flip .inner .front,
  #page-footer .socials li a .flip .inner .back {
    width: 50px;
    height: 50px;
  }
  #page-footer .socials li:after {
    width: 23px;
    height: 25px;
    top: 15px;
    left: 77px;
    background-size: 23px 25px;
  }
  #page-footer .disclaimer {
    float: right;
    width: 60%;
    text-align: right;
    margin-top: -210px;
  }
  #page-footer .disclaimer p {
    font-size: 16px;
  }
  #page-footer:after {
    width: 771px;
    height: 175px;
    margin-left: -385px;
    background-size: 771px 175px;
  }
  /*--------------------------------------- subpage*/
  #promo.subpage {
    height: 510px;
  }
  #promo.subpage .slider-imgs {
    height: 510px;
  }
  #promo.subpage .slider-imgs img {
    height: 510px;
  }
  #main:before {
    top: 609px;
    margin-left: -1750px;
  }
  #main.subpage:before {
    top: 490px;
    margin-left: -1750px;
  }
  #main.subpage .search-wrapper {
    width: 740px;
    height: 77px;
    background-size: 740px 77px;
    margin: -70px 0 30px 0;
  }
  #main.subpage .search-wrapper .search-form input[type="text"] {
    width: 531px;
    margin: 9px 18px 0 9px;
  }
  #main.subpage .search-wrapper .search-form input[type="submit"] {
    width: 171px;
    margin-top: 9px;
  }
  #main.subpage .search-wrapper .contextual-search {
    left: 10px;
    width: 530px;
  }
  #account-settings .title {
    font-size: 20px;
    width: 290px;
    padding-bottom: 13px;
    background-size: 258px 11px;
  }
  .tabs {
    margin-bottom: 50px;
  }
  .tabs .buttons {
    float: left;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #c7c7c7;
  }
  .tabs .buttons .btn {
    border: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .tabs .buttons .btn.selected {
    border: 1px solid #c7c7c7;
    border-bottom: 1px solid #fff;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #main.subpage .user-info {
    float: left;
    padding-bottom: 30px;
  }
  #main.subpage .user-info .section {
    width: 350px;
  }
  #main.subpage .user-info .user-location {
    float: right;
    padding-bottom: 134px;
  }
  #main.subpage .user-info .profile-pic {
    float: right;
  }
  #main.subpage .user-info .profile-pic label {
    font-size: 13px;
  }
  #main.subpage .user-info .profile-pic p {
    font-size: 14px;
  }
  #main.subpage .user-info .section.mail label {
    font-size: 21px;
  }
  #main.subpage .user-info .section.mail p {
    font-size: 16px;
    line-height: 19px;
  }
  .following {
    padding-bottom: 50px;
  }
  .results .box .thumb {
    margin-right: 20px;
  }
  .results .box .box-content {
    width: 80%;
    padding-top: 15px;
  }
  .results .box .box-content h1¸ {
    font-size: 19px;
  }
  .results .box .box-content p {
    font-size: 12px;
  }
}
/*<------------------------------------- end of media querry*/
@media only screen and (min-width: 1161px) {
  .mob-nav-open #wrapper {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }
  .mobile-nav {
    display: none;
  }
  #page-header {
    padding: 20px 0;
    width: 1127px;
    display: block;
    margin: 0 auto;
    float: none;
    left: 50%;
    margin-left: -555px;
  }
  #page-header .menu-btn {
    display: none;
  }
  #page-header .main-nav {
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
  }
  #page-header .main-nav li {
    display: inline-block;
    position: relative;
    padding: 5px 15px;
  }
  #page-header .main-nav li a {
    font-family: "proxima-nova";
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
  }
  #page-header .main-nav li .sub-wrapper {
    opacity: 0;
    visibility: hidden;
    display: none;
    padding-top: 15px;
    position: absolute;
    top: 23px;
    left: 0px;
    background: #fff;
    width: 450px;
    padding-bottom: 10px;
    border-bottom: 4px solid #eb0a8d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  #page-header .main-nav li .sub-wrapper ul {
    float: left;
    display: inline-block;
    width: 150px;
    border-left: 1px solid #d9d9d9;
  }
  #page-header .main-nav li .sub-wrapper ul li {
    padding: 10px 0 10px 20px;
    width: 100%;
  }
  #page-header .main-nav li .sub-wrapper ul li a {
    color: #000;
    text-transform: none;
    font-size: 14px;
  }
  #page-header .main-nav li .sub-wrapper ul .more a {
    width: auto;
    color: #eb0a8d;
    padding-right: 20px;
    background: url(../img/arr-right-pink.png) no-repeat right center;
    background-size: 6px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #page-header .main-nav li .sub-wrapper ul li:hover {
    background-color: #eb0a8d;
  }
  #page-header .main-nav li .sub-wrapper ul li:hover a {
    color: #fff;
  }
  #page-header .main-nav li .sub-wrapper ul .more:hover {
    background: transparent;
  }
  #page-header .main-nav li .sub-wrapper ul .more:hover a {
    color: #eb0a8d;
    padding-left: 15px;
  }
  #page-header .main-nav li:hover {
    background: #fff;
  }
  #page-header .main-nav li:hover a {
    color: #eb0a8d;
  }
  #page-header .main-nav li:hover .sub-wrapper {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  #page-header .main-nav li:hover .categories {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  #page-header .main-nav .categories {
    opacity: 0;
    visibility: hidden;
    display: none;
    width: 130px;
    height: 539px;
    padding-top: 15px;
    position: absolute;
    top: 23px;
    left: 0px;
    background: #fff;
    padding-bottom: 10px;
    border-bottom: 4px solid #eb0a8d;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  #page-header .main-nav .categories li {
    padding: 10px 0 10px 20px;
    width: 100%;
    position: static;
  }
  #page-header .main-nav .categories li .sub-wrapper {
    left: 130px;
    top: 0px;
    width: 300px;
    height: 539px;
    -webkit-box-shadow: -10px 0 20px -10px #000000;
    box-shadow: -10px 0 20px -10px #000000;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: none;
    opacity: 0;
    visibility: visible;
  }
  #page-header .main-nav .categories li .sub-wrapper ul {
    height: 520px;
  }
  #page-header .main-nav .categories li .sub-wrapper li {
    padding: 10px 0 10px 20px;
    width: 100%;
  }
  #page-header .main-nav .categories li .sub-wrapper li a {
    color: #000;
    text-transform: none;
    font-size: 14px;
  }
  #page-header .main-nav .categories li a {
    color: #000;
    text-transform: none;
    font-size: 14px;
  }
  #page-header .main-nav .categories li:hover {
    background-color: #eb0a8d;
  }
  #page-header .main-nav .categories li:hover a {
    color: #fff;
  }
  #page-header .main-nav .categories li:hover .sub-wrapper {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  #page-header .main-nav .categories .more a {
    width: auto;
    color: #eb0a8d;
    padding-right: 20px;
    background: url(../img/arr-right-pink.png) no-repeat right center;
    background-size: 6px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #page-header .main-nav .categories .more:hover {
    background: transparent;
  }
  #page-header .main-nav .categories .more:hover a {
    color: #eb0a8d;
    padding-left: 15px;
  }
  .login-signup {
    margin-top: 20px;
  }
  #promo .slider {
    right: 20%;
    top: 210px;
  }
  #promo:after {
    top: 576px;
    height: 200px;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  #promo .slider-imgs img {
    height: auto;
  }
  .container {
    width: 1140px;
    padding: 0;
  }
  .search-wrapper {
    float: right;
    margin: -215px 0 0;
  }
  .search-wrapper .contextual-search a {
    font-size: 15px;
  }
  .events .title {
    padding: 15px;
    width: 290px;
    padding-bottom: 0;
    position: relative;
    top: -55px;
    background: #ffffff url(../img/gradient-border.png) no-repeat 15px bottom;
    background-size: 260px 11px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .events .features .feature {
    width: 540px;
    margin: 20px 0 20px 0;
  }
  .events .features .feature.odd {
    float: left;
  }
  .events .features .feature.even {
    float: right;
  }
  .events .thumb .thumb-wrapper {
    float: left;
  }
  .events .thumb {
    width: 155px;
  }
  .events article {
    width: 385px;
    text-align: left;
  }
  .popular-events {
    padding-bottom: 50px;
  }
  .popular-events .title {
    margin-top: -32px;
    width: 500px;
  }
  .popular-events form {
    margin-right: 0;
    margin-top: 20px;
  }
  .popular-events .box-wrapper {
    float: left;
    margin-top: 30px;
  }
  .popular-events .box-wrapper .box {
    margin: 20px 12px 40px;
  }
  .popular-searches {
    padding: 30px 0 40px;
  }
  .popular-searches .container {
    width: 1160px;
  }
  .popular-searches .search-list-wrapper {
    width: 190px;
  }
  #page-footer .container {
    padding: 0 10px;
  }
  #page-footer:after {
    width: 1160px;
    height: 285px;
    margin-left: -555px;
    background-size: 1160px 284px;
  }
  /*--------------------------------------- subpage*/
  #promo.subpage {
    height: 420px;
  }
  #promo.subpage .slider-imgs {
    height: 4200px;
  }
  #promo.subpage .slider-imgs img {
    height: auto;
  }
  #main.subpage .search-wrapper {
    margin-top: -105px;
  }
  .tabs .buttons {
    float: left;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #c7c7c7;
  }
  .tabs .buttons .btn {
    width: 220px;
    height: 55px;
  }
  .tabs .buttons .btn a {
    font-size: 17px;
    padding-top: 23px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .tabs .buttons .btn a:hover {
    color: #28ace2;
  }
  #main.subpage .user-info {
    padding-bottom: 50px;
  }
  #main.subpage .user-info form input[type="text"] {
    width: 270px;
    margin-right: 15px;
  }
  #main.subpage .user-info .remember-me {
    margin-right: 20px;
  }
  #main.subpage .user-info .section {
    width: 571px;
    float: left;
  }
  #main.subpage .user-info .user-location {
    float: left;
    padding-bottom: 20px;
  }
  #main.subpage .user-info .section.profile-pic {
    float: left;
    background: transparent;
  }
  #main.subpage .user-info .section.profile-pic .user-img {
    width: 130px;
    height: 130px;
    background-size: 130px 130px;
    margin-right: 20px;
  }
  #main.subpage .user-info .section.profile-pic label {
    font-size: 15px;
    width: 420px;
  }
  #main.subpage .user-info .section.profile-pic p {
    width: 420px;
    font-size: 15px;
  }
  #main.subpage .user-info .fupload-wrapper {
    position: relative;
    margin: 20px 0;
    width: 420px;
    height: 64px;
    background: url(../img/fupload-desktop.png) no-repeat center center;
  }
  #main.subpage .user-info .fupload-wrapper .fup-name {
    display: block;
    width: 270px;
    height: 51px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    font-family: "proxima-nova";
    color: #28ace2;
    font-size: 19px;
    padding: 20px 0 0 20px;
  }
  #main.subpage .user-info .section.mail {
    float: right;
    width: 520px;
    margin-top: -320px;
  }
  #main.subpage .user-info .section.mail input[type="submit"] {
    margin-top: 38px;
  }
  #main.subpage .user-info .section.mail label {
    width: 480px;
  }
  #main.subpage .user-info .section.mail p {
    margin-left: 40px;
  }
  #main.subpage .user-info .section.mail a {
    margin-left: 40px;
    font-size: 17px;
  }
  .following .description {
    width: 400px;
    margin-right: 30px;
    float: left;
  }
  .following h1 {
    font-size: 21px;
  }
  .following h2 {
    font-size: 14px;
  }
  .following form {
    float: left;
  }
  .following .group {
    width: 395px;
  }
  .following .options {
    float: left;
    margin: 0 0 0 20px;
  }
  .hunter-wrapper {
    padding-bottom: 55px;
  }
  .results .box {
    width: 540px;
    margin: 0 15px 30px 15px;
  }
  .results .box h1 {
    font-size: 18px;
  }
  .results .box .box-content {
    width: 75%;
  }
}
/*<------------------------------------- end of media querry*/
@media only screen and (min-width: 2030px) {
  #promo .slider-imgs img {
    width: 100% !important;
  }
}
/* ==================================================
    =High def devices
===================================================== */
.feature .thumb .thumb-wrapper .colored,
.feature .thumb .thumb-wrapper .black-white {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.feature h1 {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.feature.inactive h1 {
  color: #c4c4c4;
}
.feature.inactive .thumb .thumb-wrapper .colored {
  visibility: hidden;
  opacity: 0;
}
.feature.inactive .thumb .thumb-wrapper .black-white {
  opacity: 0.6;
}
.popular-events .thumb {
  overflow: hidden;
}
.popular-events .thumb p {
  width: 100%;
  position: absolute;
  top: 80px;
  text-align: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .thumb p span {
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 16px;
}
.popular-events .thumb img {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .box .thumb a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 172, 226, 0.7);
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .box:hover .thumb a:after {
  visibility: visible;
  opacity: 1;
}
.popular-events .box:hover .thumb p {
  visibility: visible;
  opacity: 1;
}
.popular-events .box:hover .thumb img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.popular-searches .search-list-wrapper ul li {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-searches .search-list-wrapper .more {
  position: relative;
  left: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-searches .search-list-wrapper .more:hover {
  left: 5px;
}
#page-footer .container {
  position: relative;
  z-index: 10;
}
#page-footer .footer-nav li a {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#page-footer .footer-nav li a:hover {
  color: #eb0a8d;
}
#page-footer .socials li a {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#page-footer .socials li:hover a {
  border: none;
}
#page-footer .socials li .flip .back {
  border-radius: 22px;
  background: #57cde8;
  position: relative;
  top: 3px;
}
#page-footer .socials li .flip .back:after {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 52px;
  height: 52px;
  border: 2px solid #57cde8;
  border-radius: 28px;
}
@media only screen and (min-width: 768px) {
  #page-footer .socials li .flip .back {
    border-radius: 25px;
    top: 3px;
  }
  #page-footer .socials li .flip .back:after {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: -6px;
    width: 58px;
    height: 58px;
    border: 2px solid #57cde8;
    border-radius: 30px;
  }
}
.popular-events .box-content .favorite,
.popular-events .box-content .add {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .box-content .favorite:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/heart-2.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .box-content .favorite:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/heart-hover.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .box-content .favorite:hover:before {
  visibility: visible;
  opacity: 1;
}
.popular-events .box-content .favorite.active:after {
  visibility: visible;
  opacity: 1;
}
.popular-events .box-content .add:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/add-2.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .box-content .add:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/add-hover.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.popular-events .box-content .add:hover:before {
  visibility: visible;
  opacity: 1;
}
.popular-events .box-content .add.active:after {
  visibility: visible;
  opacity: 1;
}
@media only screen and (min-width: 1161px) {
  #main:before {
    left: 50%;
    margin-left: -1500px;
    display: block;
    background: #fff;
    top: 576px;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  #main.subpage:before {
    top: 390px;
    margin-left: -1790px;
  }
}
@media only screen and (max-width: 1161px) {
  #promo {
    top: auto !important;
  }
}
#promo .slider .owl-buttons {
  display: block;
  position: absolute;
  top: 26px;
  width: 100%;
}
#promo .slider .owl-prev,
#promo .slider .owl-next {
  position: absolute;
  display: none;
  width: 23px;
  height: 23px;
  background-position: top left;
  background-repeat: no-repeat;
  cursor: pointer;
  text-indent: -999px;
  overflow-x: hidden;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#promo .slider .owl-prev {
  left: -14px;
  background: url(../img/arr-prev.png);
}
#promo .slider .owl-next {
  right: -14px;
  background: url(../img/arr-next.png);
}
#promo .slider .owl-prev:hover {
  left: -18px;
}
#promo .slider .owl-next:hover {
  right: -18px;
}
@media only screen and (min-width: 768px) {
  #promo .slider .owl-buttons {
    top: 34px;
  }
  #promo .slider .owl-buttons .owl-prev,
  #promo .slider .owl-buttons .owl-next {
    display: inline-block;
  }
}
@media only screen and (min-width: 1161px) {
  #promo .slider .owl-buttons {
    top: 34px;
  }
}
