/*
Design:   EuroART93
XHTML/CSS:  EuroART93
*/

/* ==================================================
    =Reset
===================================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
   
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================================================
    =Less CSS
===================================================== */

// Fonts
// Remember to check the font stack when using a webfont
@mainfont           :'Helvetica Neue', Arial, sans-serif; // Main font in use
@complementaryfont  :@mainfont; // Complementary font, usually used for heading

// Color scheme
@maincolor          :#222; // Main site color
@varmaincolor1      :#444; // Var main color 1

@complementarycolor :#ffb407; // Complementary site color
@varcolor1          :#eee; // Light Grey

@linkcolor          :#444; // Link color

// Paddings
@baseline           :20px;

// Border radius
.rounded (@radius:5px) {
    -webkit-border-radius:  @radius;
    -moz-border-radius:     @radius;
    border-radius:          @radius;
}
.border-radius (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}

// Box shadow
.box-shadow (@shadowx, @shadowy, @shadowblur, @shadowcolor) {
    -moz-box-shadow:    @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow:         @arguments;
}
.box-shadow-inset (@inset, @shadowx, @shadowy, @shadowblur, @shadowcolor) {
    -moz-box-shadow:    @arguments;
    -webkit-box-shadow: @arguments;
    box-shadow:         @arguments;
}
.box-shadow-none {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

//  Gradients  (bottom > top)
.gradient (@color1, @color2) {
  background-image: linear-gradient(bottom, @color1 0%, @color2 100%);
  background-image: -o-linear-gradient(bottom, @color1 0%, @color2 100%);
  background-image: -moz-linear-gradient(bottom, @color1 0%, @color2 100%);
  background-image: -webkit-linear-gradient(bottom, @color1 0%, @color2 100%);
  background-image: -ms-linear-gradient(bottom, @color1 0%, @color2 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, @color1),
    color-stop(1, @color2)
  );
  background-color:@color1;
}

// Transitions
.transition (@type: all, @duration: .5s, @ease: ease) {
  -moz-transition: @arguments;
    -o-transition: @arguments;
    -webkit-transition: @arguments;
    -ms-transition: @arguments;
    transition: @arguments;
}
.no-transition () {
  -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

// Other 
.ir {
    text-indent:-9999px;
    outline:none
}

.cf {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}

.reset () {
  margin:0;
  padding:0;
}


/* ==================================================
    =General
===================================================== */

// Append this classes to HTML where needed (hide/show, clearfix, mobile hide/mobile show, align element, text-align...)
.left { text-align:left !important } .center { text-align:center !important } .right { text-align:right !important }
.alignleft { float:left } .aligncenter { margin:0 auto } .alignright { float:right }
.alignleft.clear, .alignright.clear, .aligncenter.clear { float:none }
img.alignleft, table.alignleft, .image-container.alignleft { margin:5px 10px 5px 0 } 
img.alignright, table.alignright, .image-container.alignright { margin: 5px 0 5px 10px }
img.aligncenter { display:block; margin: 10px auto }

.show { display:block!important } .hide { display:none!important }
.mobile-show { display:block!important } .mobile-hide { display:none!important }

.cf:before, .cf:after, 
.container:before, .container:after, .widget:before, .widget:after, form ol > li:before, form ol > li:after
  { content: "\0020"; display: block; height: 0; visibility: hidden; }

.cf:after, .clear, 
.container:after, .widget:after, form ol > li:after
  { clear: both; }
  
.cf, .container, .widget, form ol > li
  { zoom: 1; }
    
/* ==================================================
    =Main tags
===================================================== */

/* Defined in html element when using rem unit */
html { font:normal 62.5% @mainfont; color:#444; background-color:#fff; }

/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* Buggy in IE7, avoid if developing for IE7 */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ==================================================
    =Typography
===================================================== */

h1, h2, h3, h4, h5, h6, p, table, .user-content ul,  .user-content ol, .user-content dl { margin-bottom:@baseline; }
h1, h2, h3, h4, h5, h6 { margin-bottom:@baseline / 2; }

h1 { font:400 32px/1.3 @mainfont; }
h2 { font:400 24px/1.2 @mainfont; }
h3 { font:400 22px/1.2 @mainfont; }
h4 { font:400 20px/1.2 @mainfont; }
h5 { font:400 16px/1.2 @mainfont; }
h6 { font:400 14px/1.2 @mainfont; }

a         { color:@linkcolor; text-decoration:none }

/* Styling */
strong      { font-weight:bold; }
em        { font-style:italic; }
sup       { vertical-align:text-top; font-size:75%; }
sub       { vertical-align:bottom; font-size:75%; }
blockquote    { font-style:italic; }

/* User generated  */
.user-content ul {
  list-style:disc;
  margin-left:24px;
}
.user-content ul ul { margin-left:20px; margin-bottom:0; }
.user-content ul li{ margin-bottom:0; }
.user-content ol {
  margin-left:24px;
  list-style:decimal;
}
.user-content ol ol { list-style:lower-latin; margin-bottom:0; }
.user-content ul ul, .view ol ol { margin-bottom:0 }
.user-content li li { font-size:1em }

/* Table */
table {
  width:100%;
  border:none;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead th { 
    border-top:none;
    font-weight:bold;
    color:#fff;
    background:@maincolor;
}
table tbody th { text-transform:uppercase; font-weight:bold; color:#444; }
table td, table th {
  padding:5px;
  vertical-align:middle;
}
table tr:nth-child(even) td, table tr:nth-child(even) th { background-color:#eee }

/* Normal form */
.normal-form input[type="text"],
.normal-form input[type="password"],
.normal-form input[type="datetime"],
.normal-form input[type="datetime-local"],
.normal-form input[type="date"],
.normal-form input[type="month"],
.normal-form input[type="time"],
.normal-form input[type="week"],
.normal-form input[type="number"],
.normal-form input[type="email"],
.normal-form input[type="url"],
.normal-form input[type="search"],
.normal-form input[type="tel"],
.normal-form input[type="color"],
.normal-form textarea,
.normal-form select {
  // General styles like fonts and paddings
    -webkit-appearance: none; // removes styling on iOS devices
}

.normal-form input[type="text"]:focus,
.normal-form input[type="password"]:focus,
.normal-form input[type="datetime"]:focus,
.normal-form input[type="datetime-local"]:focus,
.normal-form input[type="date"]:focus,
.normal-form input[type="month"]:focus,
.normal-form input[type="time"]:focus,
.normal-form input[type="week"]:focus,
.normal-form input[type="number"]:focus,
.normal-form input[type="email"]:focus,
.normal-form input[type="url"]:focus,
.normal-form input[type="search"]:focus,
.normal-form input[type="tel"]:focus,
.normal-form input[type="color"]:focus,
.normal-form textarea:focus,
.normal-form select:focus {
  // Focus styles
}

.normal-form input[type="text"]:hover,
.normal-form input[type="password"]:hover,
.normal-form input[type="datetime"]:hover,
.normal-form input[type="datetime-local"]:hover,
.normal-form input[type="date"]:hover,
.normal-form input[type="month"]:hover,
.normal-form input[type="time"]:hover,
.normal-form input[type="week"]:hover,
.normal-form input[type="number"]:hover,
.normal-form input[type="email"]:hover,
.normal-form input[type="url"]:hover,
.normal-form input[type="search"]:hover,
.normal-form input[type="tel"]:hover,
.normal-form input[type="color"]:hover,
.normal-form textarea:hover,
.normal-form select:hover {
  // Hover styles
}

/* Button styling */
.button {
    display:inline-block;
    padding:10px 20px;
    margin:0 10px 0 0;
    font:bold 14px/20px @mainfont;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,.1);
    border:none;
    background:@maincolor;
    text-align:center;

    overflow:visible;
    cursor:pointer;
    
    .rounded(5px);
    .box-shadow(0,2px,4px,rgba(0,0,0,.2));
}

.button:hover {
    color:#fff;
    background-color:darken(@maincolor,10);
}

/* ==================================================
    =Layout
===================================================== */
body {
}
.home {
  overflow-x: hidden;
}
#wrapper {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    .transition(all, 0.4s, ease);
}
.user-settings {
  overflow-x: hidden;
}
.container {
  width: 100%;
  margin:0 auto;
  position:relative;
  padding: 0 10px;
}
#page-header {
  .cf();
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 1;
  .site-logo {
    float: left;
    text-indent: -9999px;
    display: block;
    width: 137px; 
    height: 31px;
    background: url(../img/logo.png) no-repeat center center;
    background-size: 137px 31px;
    a {
      display: block;
    }
  }
}
.menu-btn {
  float: right;
  width: 30px;
  height: 23px;
  background: url(../img/menu-btn.png) no-repeat center center;
  background-size: 30px 23px;
  cursor: pointer;
  display: block;
}
.main-nav {
  display: none;
}
.main-nav-mob {
  display: none;
}
.mobile-nav {
  position: fixed;
  width: 260px;
  height: 100%;
  top: 0;
  right: 0;
  -moz-transform: translate3d(260px,0,0);
  -webkit-transform: translate3d(260px,0,0);
  -o-transform: translate3d(260px,0,0);
  -ms-transform: translate3d(260px,0,0);
  transform: translate3d(260px,0,0);
  background: #eb0a8d;
  padding: 15px 20px;
  z-index: 20;
  -webkit-box-shadow: inset 12px 0 18px -4px #ad0667;
  box-shadow: inset 12px 0 18px -4px #ad0667;
  .transition(all, 0.4s, ease);
    .site-name {
      font-family: 'proxima-nova', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 10px;
      
    }
    .menu-step-1 {
      li {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 0;
        cursor: pointer;
        background: url(../img/arr-right-white.png) 98% center no-repeat;
        border-bottom: 1px solid #ad0667;
      }
      li a {
        display: block;
        width: 100%;
        color: #fff;
      }
    }
    .back {
      padding-left: 20px;
      line-height: 17px;
      font-weight: 500;
      font-size: 14px;
      background: url(../img/arr-left.png) left top no-repeat;
    }


    .mob-nav-2 {
      position: fixed;
      width: 260px;
      height: 100%;
      top: 0;
      right: 0;
      padding: 15px 20px;
      background: #28ace2;
      -webkit-box-shadow: inset 12px 0 18px -4px #1d7ea5;
      box-shadow: inset 12px 0 18px -4px #1d7ea5;
      -moz-transform: translate3d(260px,0,0);
      -webkit-transform: translate3d(260px,0,0);
      -o-transform: translate3d(260px,0,0);
      -ms-transform: translate3d(260px,0,0);
      transform: translate3d(260px,0,0);
      .transition(all, 0.4s, ease);
        p {
          font-weight: 700;
        }
        .menu-step-2 {
          margin-top: 30px;
            li {
              color: #fff;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 500;
              padding: 15px 0;
              cursor: pointer;
              background: url(../img/arr-right-white.png) 98% center no-repeat;
              border-bottom: 1px solid #1d7ea5;
            }
            li a {
              display: block;
              width: 100%;
            }
        }
    }
    .mob-nav-2.active {
      -moz-transform: translate3d(0px,0,0);
      -webkit-transform: translate3d(0px,0,0);
      -o-transform: translate3d(0px,0,0);
      -ms-transform: translate3d(0px,0,0);
      transform: translate3d(0px,0,0);
    }
    .mob-nav-3 {
      position: fixed;
      width: 260px;
      height: 100%;
      top: 0;
      right: 0;
      padding: 15px 20px;
      background: #fff;
      -webkit-box-shadow: inset 12px 0 18px -4px #6d6d6d;
      box-shadow: inset 12px 0 18px -4px #6d6d6d;
      -moz-transform: translate3d(260px,0,0);
      -webkit-transform: translate3d(260px,0,0);
      -o-transform: translate3d(260px,0,0);
      -ms-transform: translate3d(260px,0,0);
      transform: translate3d(260px,0,0);
      .transition(all, 0.4s, ease);
        .back {
          background: url(../img/arr-left-pink.png) left top no-repeat;
        }
        p {
          color: #eb0a8d;
        }
        li {
          color: #eb0a8d;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 500;
          padding: 15px 0;
          cursor: pointer;
          background: url(../img/arr-right-pink-2.png) 98% center no-repeat;
          border-bottom: 1px solid #eb0a8d !important;
        }
        li a {
          display: block;
          width: 100%;
          color: #eb0a8d;
        }
    }
    .mob-nav-3.active {
      -moz-transform: translate3d(0px,0,0);
      -webkit-transform: translate3d(0px,0,0);
      -o-transform: translate3d(0px,0,0);
      -ms-transform: translate3d(0px,0,0);
      transform: translate3d(0px,0,0);
    }
}
.mob-nav-open .mobile-nav {
  -moz-transform: translate3d(0px,0,0);
    -webkit-transform: translate3d(0px,0,0);
    -o-transform: translate3d(0px,0,0);
    -ms-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
}
.mob-nav-open #wrapper {
  -moz-transform: translate3d(-260px,0,0);
    -webkit-transform: translate3d(-260px,0,0);
    -o-transform: translate3d(-260px,0,0);
    -ms-transform: translate3d(-260px,0,0);
    transform: translate3d(-260px,0,0);
}
.login-signup {
  float: left;
  width: 100%;
  li {
    font-family: "proxima-nova";
    font-size: 14px;
    border-right: 1px solid #878787;
    padding-right: 10px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
  }
  .login a {
    color: #28ace2;
    .transition(all, 0.3s, ease);
  }
  .login a:hover {
    color: #eb0a8d;
  }
  .signup {
    padding: 0 10px;
    border: none;
    a {
      color: #eb0a8d;
      .transition(all, 0.3s, ease);
    }
  }
  .signup a:hover {
    color: #28ace2;
  }
}
.search-form {
  width: 100%;
  float: left;
}
/*--------------------------------------------------- promo & slider*/
#promo { 
  position: relative;
  float: left;
  width: 100%;
  height: 295px;
  overflow: hidden;
  .container {
    float: left;
  }
}
#promo:after {
  content: "";
  width: 3000px;
  height: 50px;
  position: absolute;
  top: 280px;
  left: 50%;
  margin-left: -1500px;
  display: block;
  background: #fff;
  -ms-transform: rotate(-5deg); 
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#promo .slider-imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 295px;
  overflow: hidden;
  span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
  }
  img {
    height: 295px;
    width: 100%;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition:all .8s ease-in-out;
    -moz-transition:all .8s ease-in-out;
    -o-transition:all .8s ease-in-out;
    transition:all .8s ease-in-out;
  }
}
#promo .slider-imgs .current-showing { 
  opacity: 1; 
  visibility: visible;
}
#promo .slider {
  width: 295px;
  height: 75px;
  position: relative;
  margin: 170px auto 0 auto;
  .owl-buttons {
    display: none;
  }
  .owl-pagination {
    text-align: left;
    position: relative;
    top: -100px;
  }
  .owl-pagination .owl-page {
    display: inline-block;
    text-align: center;
    span {
      display: inline-block;
      float: left;
      width: 8px;
      height: 8px;
      display: inline-block;
      background: #fff;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      margin: 0 3px;
      position: relative;
      bottom: 3px;
    }
  }
  .owl-pagination .owl-page.active {
    span {
      background: #eb0a8d;
      width: 14px;
      height: 14px;
      bottom: 0;
    }
  }
}
#promo .slider .slide {
  height: 75px;
  overflow: hidden;
  width: 100%;
  zoom: 1;
  display: block;
  .cf ();
  .slide-content-wrapper {
    float: right;
    width: 100%;
    height: 75px;
    background: url(../img/ticket.png) no-repeat center center;
    background-size: 100% 75px;
    article {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      font-family: "proxima-nova";
      color: #fff;
      h1 {
        font-size: 14px;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      p {
        font-style: italic;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 0;
      }
    }
  }
}
#promo .owl-controls {
  display: block;
  width: 100%;
  margin: 0 auto;
}
/*--------------------------------------------------- Pop-up*/
#modal.login-trigger {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  .modal-container {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .modal-box {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 20%;
    background: #fff url(../img/gradient-border.png) no-repeat top left;
    background-size: 100% 11px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 70px 5px #000000;
    box-shadow: 0 0 70px 5px #000000;
  }
  .modal-content {
    .cf();
    padding: 20px;
    position: relative;
    .close {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/close.png) no-repeat center center;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    h1 {
      font-family: "proxima-nova";
      color: #28ace2;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
      float: left;
      width: 100%;
      margin-bottom: 10px;
    }
    form {
      float: left;
      .group {
        float: left;
        width: 100%;
        input[type="text"] {
          float: left;
          width: 100%;
          background: #ececec url(../img/human-icon.png) no-repeat 10px center;
          font-family: "proxima-nova";
          color: #434a5c;
          font-size: 16px;
          padding: 10px 10px 10px 40px;
          outline: 0;
          border: 0;
          border-bottom: 2px solid #434a5c;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-bottom: 10px;
        }
        input[type="password"] {
          float: left;
          width: 100%;
          background: #e0f6ff url(../img/lock-icon.png) no-repeat 10px center;
          font-family: "proxima-nova";
          color: #28ace2;
          font-size: 16px;
          padding: 10px 10px 10px 40px;
          outline: 0;
          border: 0;
          border-bottom: 2px solid #28ace2;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-bottom: 10px;
        }
        ::-webkit-input-placeholder {
          color: #28ace2;
        }
        :-moz-placeholder {
          color: #28ace2;
        }
        ::-moz-placeholder {
          color: #28ace2;
        }
        :-ms-input-placeholder {
          color: #28ace2;
        }
      }
      .group.error {
        float: left;
        width: 100%;
        display: none;
        .error-msg {
          font-family: "proxima-nova";
          font-size: 12px;
          color: #db1f1f;
          float: right;
          font-weight: 600;
        }
          input[type="text"] {
          float: left;
          width: 100%;
          background: #ececec url(../img/human-icon-error.png) no-repeat 10px center;
          font-family: "proxima-nova";
          color: #db1f1f;
          font-size: 16px;
          padding: 10px 10px 10px 40px;
          outline: 0;
          border: 0;
          border-bottom: 2px solid #db1f1f;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-bottom: 10px;
        }
        input[type="password"] {
          float: left;
          width: 100%;
          background: #e0f6ff url(../img/lock-icon-error.png) no-repeat 10px center;
          font-family: "proxima-nova";
          color: #db1f1f;
          font-size: 16px;
          padding: 10px 10px 10px 40px;
          outline: 0;
          border: 0;
          border-bottom: 2px solid #db1f1f;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-bottom: 10px;
        }
        ::-webkit-input-placeholder {
          color: #db1f1f;
        }
        :-moz-placeholder {
          color: #db1f1f;
        }
        ::-moz-placeholder {
          color: #db1f1f;
        }
        :-ms-input-placeholder {
          color: #db1f1f;
        }
      }
      input[type="text"]:focus::-webkit-input-placeholder { 
        color:transparent; 
      }
      input[type="text"]:focus:-moz-placeholder { 
        color:transparent; 
      }
      input[type="submit"] {
        float: left;
        width: 100%;
        background: #28ace2;
        font-family: "proxima-nova";
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        padding: 15px 0 10px 0;
        outline: 0;
        border: 0;
        cursor: pointer;
        border-bottom: 5px solid #2c84a9;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 35px;
        -webkit-box-shadow: 0 2px 8px 0 #999999;
        box-shadow: 0 2px 8px 0 #999999;
      }
      .remember-me {
        float: left;
        margin: 10px 0 15px 0;
      }
      label {
        font-family: "proxima-nova";
        font-size: 12px; 
        color: #a5adbe;
        float: left;
        margin: 15px 0 0 15px;
        font-weight: 600;
      }
    }
    .socials-2 {
      float: left;
      width: 100%;
      text-align: center;
      border-top: 1px solid #cacaca;
      border-bottom: 1px solid #cacaca;
      padding: 20px 0;
      h2 {
        font-family: "proxima-nova";
        font-size: 16px;
        color: #454545;
        font-style: italic;
        background: #fff;
        padding: 10px;
        margin: -40px auto 0 auto;
        display: block;
        width: 50px;
      }
      .socials-list {
        float: left;
        width: 100%;
        margin-top: 5px;
        li {
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-right: 20px;
          background: red;
          a {
            display: block;
            width: 32px;
            height: 32px;
            border: 0;
          }
        }
        li:last-child {
          margin-right: 0;
        }
        .face {
          background: url(../img/face-icon.jpg) no-repeat center center;
        }
        .b {
          background: url(../img/b-icon.jpg) no-repeat center center;
        }
        .ok {
          background: url(../img/ok-icon.jpg) no-repeat center center;
        }
        .twitter {
          background: url(../img/twitter-icon.jpg) no-repeat center center;
        }
        .ggl {
          background: url(../img/ggl-icon.jpg) no-repeat center center;
        }
      }
    }
    .help {
      margin-top: 20px;
      float: left;
      width: 100%;
      a {
        font-family: "proxima-nova";
        font-size: 14px;
        color: #28ace2;
        border-bottom: 1px solid #d7ecf8;
      }
      p {
        float: right;
        font-family: "proxima-nova";
        font-size: 14px;
        color: #9c9c9c;
        margin-bottom: 0;
        a {
          color: #28ace2;
        }
      }
    }
  }
}

#modal.registration-trigger {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  .modal-box {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 20%;
    background: #fff url(../img/gradient-border.png) no-repeat top left;
    background-size: 100% 11px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 70px 5px #000000;
    box-shadow: 0 0 70px 5px #000000;
  }
  .modal-content {
    .cf();
    padding: 20px;
    position: relative;
    .close {
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/close.png) no-repeat center center;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    h1 {
      font-family: "proxima-nova";
      color: #28ace2;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
      float: left;
      width: 100%;
    }
    p {
      font-family: "proxima-nova";
      color: #959595;
      font-size: 15px;
      float: left;
    }
    form {
      float: left;
      .group {
        float: left;
        width: 100%;
        input[type="text"] {
          float: left;
          width: 100%;
          font-family: "proxima-nova";
          color: #434a5c;
          font-size: 16px;
          padding: 10px 10px 10px 40px;
          outline: 0;
          border: 0;
          border-bottom: 2px solid #434a5c;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-bottom: 15px;
        }
        input[type="password"] {
          float: left;
          width: 100%;
          font-family: "proxima-nova";
          color: #434a5c;
          font-size: 16px;
          padding: 10px 10px 10px 40px;
          outline: 0;
          border: 0;
          border-bottom: 2px solid #434a5c;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          margin-bottom: 10px;
        }
        .user {
          background: #ececec url(../img/human-icon.png) no-repeat 10px center;
        }
        .email {
          background: #ececec url(../img/email-icon.png) no-repeat 10px center;
        }
        .password {
          background: #ececec url(../img/lock-grey.png) no-repeat 10px center;
        }
        .test {
          background: #ececec url(../img/cloud-msg.png) no-repeat 10px center;
        }
        ::-webkit-input-placeholder {
          color: #28ace2;
        }
        :-moz-placeholder {
          color: #28ace2;
        }
        ::-moz-placeholder {
          color: #28ace2;
        }
        :-ms-input-placeholder {
          color: #28ace2;
        }
      }
      .group.test-thumb {
        text-align: center;
        margin: 10px 0;
      }
      input[type="text"]:focus::-webkit-input-placeholder { 
        color:transparent; 
      }
      input[type="text"]:focus:-moz-placeholder { 
        color:transparent; 
      }
      input[type="submit"] {
        float: left;
        width: 100%;
        background: #28ace2;
        font-family: "proxima-nova";
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        padding: 15px 0 10px 0;
        outline: 0;
        border: 0;
        cursor: pointer;
        border-bottom: 5px solid #2c84a9;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 2px 8px 0 #999999;
        box-shadow: 0 2px 8px 0 #999999;
      }
    }
  }
}


/*--------------------------------------------------- Main*/
#main {
  // .cf();
  float: left;
  width: 100%;
}
.search-wrapper {
  display: block;
  width: 290px;
  height: 117px;
  margin: -35px auto 0 auto;
  background: url(../img/search-wrapper-bg.png) no-repeat center center;
  background-size: 290px 117px;
  position: relative;
  .content {
    float: left;
    width: 202px;
    margin-left: 10px;
    p {
      font-family: "proxima-nova";
      color: #646464;
      font-style: italic;
      font-size: 10px;
      text-align: center;
      span {
        color: #28ace2;
      }
    }
  }
  .contextual-search {
    width: 280px;
    float: left;
    background: white;
    position: absolute;
    top: 35px;
    left: 8px;
    z-index: 2;
    border-bottom: 4px solid #28ace2;
    -webkit-box-shadow: 0 5px 10px 1px #999999;
    box-shadow: 0 5px 10px 1px #999999;
    visibility: hidden;
    opacity: 0;
    .transition(all, 0.5s, ease);
    ul {
      float: left;
      width: 100%;
      li {
        float: left;
        width: 100%;
      }
    }
    a {
      font-family: "proxima-nova";
      padding: 10px;
      width: 100%;
      display: block;
      font-size: 13px;
      .transition(all, 0.3s, ease);
    }
    a:hover {
      background: #28ace2;
      color: #fff;
    }
    p {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 13px;
      color: #cbcbcb;
    }
    h1 {
      font-family: "proxima-nova";
      width: 100%;
      display: block;
      font-size: 16px;
      margin-bottom: 0;
    }
    .title {
      background: #f2f2f2;
      color: #28ace2;
      text-transform: uppercase;
      float: left;
      padding: 10px 0 10px 35px;
      display: block;
      border-top: 1px solid #cbcbcb;
      border-bottom: 1px solid #cbcbcb;
      font-size: 12px;
      font-weight: 700;
    }
    .top-results {
      background: #f2f2f2 url(../img/star-icon.png) no-repeat 10px 9px;
    }
    .performers {
      background: #f2f2f2 url(../img/microphone-icon.png) no-repeat 10px 9px;
    }
    .events {
      background: #f2f2f2 url(../img/calendar-icon.png) no-repeat 10px 9px;
    }
    .venues {
      background: #f2f2f2 url(../img/venue-icon.png) no-repeat 10px 13px;
    }
  }
}
.contextual-search.active {
  visibility: visible;
  opacity: 1;
}
.search-form {
  position: relative;
  float: left;
  input[type="text"] {
    background: #28ace2;
    border: none;
    outline: none;
    width: 202px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    font-family: "proxima-nova";
    color: #fff;
    float: left;
    margin: 5px 6px 10px 10px;
  }
  .search-btn {
    .transition(all, 0.3s, ease);
    border: 0;
    outline: none;
    font-family: "proxima-nova";
    color: #fff;
    font-size: 11px;
    background: #eb0a8d;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 12px 6px;
    float: left;
    margin-top: 5px;
  }
  .search-btn:hover {
    background: #28ace2;
  }
  input[type="text"]:focus::-webkit-input-placeholder { 
    color:transparent; 
  }
  input[type="text"]:focus:-moz-placeholder { 
    color:transparent; 
  }
  ::-webkit-input-placeholder {
    color: #004d6c;
    font-style: italic;
    font-size: 14px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #004d6c;
    font-style: italic; 
    font-size: 14px; 
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: #004d6c;
    font-style: italic;  
    font-size: 14px;
  }
  :-ms-input-placeholder {  
    color: #004d6c;
    font-style: italic;  
    font-size: 14px;
  }
}
.events {
  .cf();
  float: left;
  width: 100%;
  padding-bottom: 30px;
  .title {
    float: left;
    width: 100%;
    font-family: "proxima-nova";
    font-size: 18px;
    color: #28ace2;
    text-transform: uppercase;
    background: url(../img/gradient-border.png) no-repeat left bottom;
    padding-bottom: 5px;
    background-size: 190px 7px;
    span {
      float: left;
      width: 100%;
      font-size: 12px;
      color: #9d9d9d;
    }
    .event-number {
      font-size: 24px;
      color: #28ace2;
      float: left;
      width: auto;
      margin-top: -5px;
      padding-right: 7px;
    }
  }
  article {
    float: left;
    width: 100%;
    text-align: center;
    h1 {
      font-family: "proxima-nova";
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: 600;
    }
    .blue {
      color: #28ace2;
    }
    .pink {
      color: #eb0a8d;
    }
    p {
      color: #454545;
      font-family: "proxima-nova";
      font-size: 14px;
      line-height: 19px;
    }
  }
  .thumb {
    width: 100%;
    text-align: center;
    float: left;
    display: block;
    .thumb-wrapper {
      display: block;
      width: 155px;
      height: 155px;
      margin: 0 auto;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
.popular-events {
  .cf();
  width: 100%;
  float: left;
  background: url(../img/dgdot.png), #086084 url(../img/pink.png) bottom center no-repeat;
  .title {
    font-family: "proxima-nova";
    font-size: 18px;
    background: url(../img/gradient-border2.png) no-repeat bottom left;
    background-size: 190px 7px;
    float: left;
    width: 100%;
    color: #07b3e9;
    padding-bottom: 6px;
    margin-top: -22px;
    margin-bottom: 20px;
  }
  form {
    display: block;
    width: 280px;
    margin: 0 auto;
    div.fancy-select div.trigger {
      font-family: "proxima-nova";
      font-size: 16px;
      color: #1c6a8d;
    }
    label {
      font-family: "proxima-nova";
      font-size: 15px;
      text-transform: uppercase;
      color: #07b3e9;
      float: left;
      font-weight: 600;
      padding-top: 10px;
    }
  }
  .box-wrapper {
    .cf();
    width: 280px;
    display: block;
    margin: 75px auto 0;
  }
  .box {
    width: 100%;
    float: left;
    background: #fff;
    margin-bottom: 40px;
    position: relative;
  }
  .thumb {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    img {
      width: 100%;
      float: left;
    }
    .category {
      position: absolute;
      top: 15px;
      left: 15px;
      font-family: "proxima-nova";
      text-transform: uppercase;
      font-size: 13px;
      color: #fff;
      font-weight: 700;
      z-index: 1;
    }
  }
  .box-content {
    float: left;
    padding: 10px 10px 25px 10px;
    position: relative;
    background: #fff;
    z-index: 1;
    width: 100%;
    h1 {
      font-family: "proxima-nova";
      font-weight: 600;
      color: #28ace2;
      font-size: 18px;
      text-transform: uppercase;
    }
    h2 {
      font-family: "proxima-nova";
      color: #707070;
      font-size: 13px;
      font-style: italic;
      margin-bottom: 0;
    }
    .favorite {
      display: block;
      width: 40px;
      height: 40px;
      background: #fff url(../img/heart.png) no-repeat center center;
      -webkit-border-radius: 100px; 
      -moz-border-radius: 100px; 
      border-radius: 100px;
      position: absolute;
      top: 86px;
      right: 50px;
    }
    .add {
      display: block;
      width: 40px;
      height: 40px;
      background: #fff url(../img/add.png) no-repeat center center;
      -webkit-border-radius: 100px; 
      -moz-border-radius: 100px; 
      border-radius: 100px;
      position: absolute;
      top: 86px;
      right: 0;
    }
  }
  .box:after {
    content: "";
    display: block;
    width: 280px;
    height: 51px;
    position: absolute;
    left: 0;
    bottom: -27px;
    background: url(../img/after-shadow.png) no-repeat center center;
    background-size: 100% 51px;
  }
}
.popular-searches {
  .cf();
  float: left;
  width: 100%;
  padding-bottom: 30px;
  .container {
    width: 300px;
  }
  .title {
    font-family: "proxima-nova";
    font-size: 18px;
    background: url(../img/gradient-border2.png) no-repeat bottom left;
    background-size: 190px 7px;
    float: left;
    width: 100%;
    color: #07b3e9;
    padding-bottom: 6px;
    margin: 20px 0;
  }
  .search-list-wrapper {
    margin-bottom: 20px;
    h1 {
      font-family: "proxima-nova";
      font-weight: 600;
      color: #28ace2;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    ul {
      li {
        padding-bottom: 10px;
        font-family: "proxima-nova";
        color: #606060;
        font-size: 15px;
        margin-bottom: 0;
      }
    }
    .more {
      font-family: "proxima-nova";
      color: #a654a5;
      font-size: 15px;
      padding-right: 10px;
      background: url(../img/arr-right.png) no-repeat right center;
      background-size: 4px 8px;
      float: left;
    }
  }
}
#page-footer {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 110px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
  background: rgb(26,137,168);
  background: -moz-radial-gradient(center, ellipse cover,  rgb(26,137,168) 0%, rgb(4,82,131) 77%, rgb(4,82,131) 77%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(26,137,168)), color-stop(77%,rgb(4,82,131)), color-stop(77%,rgb(4,82,131)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(26,137,168) 0%,rgb(4,82,131) 77%,rgb(4,82,131) 77%);
  background: -o-radial-gradient(center, ellipse cover,  rgb(26,137,168) 0%,rgb(4,82,131) 77%,rgb(4,82,131) 77%);
  background: -ms-radial-gradient(center, ellipse cover,  rgb(26,137,168) 0%,rgb(4,82,131) 77%,rgb(4,82,131) 77%);
  background: url(../img/dgdot.png) top left, radial-gradient(ellipse at center,  rgb(26,137,168) 0%,rgb(4,82,131) 77%,rgb(4,82,131) 77%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a89a8', endColorstr='#045283',GradientType=1 );
  .logo {
    text-indent: -9999px;
    display: block;
    width: 195px; 
    height: 46px;
    background: url(../img/logo.png) no-repeat center center;
    background-size: 195px 46px;
    margin: 25px auto;
    a {
      display: block;
    }
  }
  .footer-nav {
    float: left;
    width: 100%;
    text-align: center;
    li {
      padding-bottom: 15px;
      a {
        color: #fff;
        font-family: "proxima-nova";
        font-size: 16px;
        text-transform: uppercase;
        display: block;
      }
    }
  }
  .social-wrapper {
    float: left;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px 0 30px 0;
  }
  .socials {
    display: block;
    width: 290px;
    margin: 0 auto;
    li {
      display: inline-block;
      padding-right: 30px;
      position: relative;
      a {
        display: block;
        width: 44px;
        height: 44px;
        border: 2px solid #fff;
        text-align: center;
        -webkit-border-radius: 100px; 
        -moz-border-radius: 100px; 
        border-radius: 100px; 
        position: relative;
      }
      .flip {
        position: absolute;
        width: 44px;
        height: 44px;
        top: -2px;
        left: 50%;
        margin-left: -22px;
        .inner {
          position:relative;
          width: 44px;
          height: 44px;
          -webkit-perspective: 1500px;
          -moz-perspective: 1500px;
          -ms-perspective: 1500px;
          -o-perspective: 1500px;
          perspective: 1500px;
          img {
            padding-top: 13px;
          }
        }
        .front {
          position: absolute;
          top:0;
          left:0;
          width: 44px;
          height: 44px;
          z-index: 900;
          /* webkit */
          -webkit-transform: rotateX(0deg) rotateY(0deg);
          -webkit-transform-style: preserve-3d;
          -webkit-backface-visibility: hidden;
          -webkit-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);

          /* moz */
          -moz-transform: rotateX(0deg) rotateY(0deg);
          -moz-transform-style: preserve-3d;
          -moz-backface-visibility: hidden;
          -moz-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);

          /* ms */
          -ms-transform: rotateX(0deg) rotateY(0deg);
          -ms-transform-style: preserve-3d;
          -ms-backface-visibility: hidden;
          -ms-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);

          /* opera */
          -o-transform: rotateX(0deg) rotateY(0deg);
          -o-transform-style: preserve-3d;
          -o-backface-visibility: hidden;
          -o-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);
          
          /* default */
          transform: rotateX(0deg) rotateY(0deg);
          transform-style: preserve-3d;
          backface-visibility: hidden;
          transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);
        }
        .back {
          position: absolute;
          top:0;
          left:0;
          width: 44px;
          height: 44px;
          z-index: 800;
          /* webkit */
          -webkit-transform: rotateY(-180deg);
          -webkit-transform-style: preserve-3d;
          -webkit-backface-visibility: hidden;
          -webkit-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

          /* moz */
          -moz-transform: rotateY(-180deg);
          -moz-transform-style: preserve-3d;
          -moz-backface-visibility: hidden;
          -moz-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

          /* ms */
          -ms-transform: rotateY(-180deg);
          -ms-transform-style: preserve-3d;
          -ms-backface-visibility: hidden;
          -ms-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

          /* opera */
          -o-transform: rotateY(-180deg);
          -o-transform-style: preserve-3d;
          -o-backface-visibility: hidden;
          -o-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

          /* default */
          transform: rotateY(-180deg);
          transform-style: preserve-3d;
          backface-visibility: hidden;
          transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

          background: #145b8c;
        }
      }
    }
    li:hover .flip .front {
      z-index: 900;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
      border-right: none;
    }
    li:hover .flip .back {
      z-index: 1000;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg);
      -o-transform: rotateX(0deg) rotateY(0deg);
      transform: rotateX(0deg) rotateY(0deg);
    }
    li:last-child {
      padding-right: 0;
    }
    li:last-child:after {
      display: none;
    }
    li:after {
      content: "";
      width: 19px;
      height: 20px;
      display: block;
      position: absolute;
      top: 10px;
      left: 50px;
      background: url(../img/social-divider.png) no-repeat center center;
      background-size: 19px 20px;
    }
  }
  .disclaimer {
    float: left;
    width: 100%;
    text-align: center;
    p {
      font-family: "proxima-nova";
      color: #6bccf3;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
#page-footer:after {
  content: "";
  display: block;
  width: 650px;
  height: 164px;
  position: absolute;
  left: 50%;
  margin-left: -325px;
  bottom: 0;
  background: url(../img/city.png) no-repeat center center;
  background-size: 650px 164px;
}
/*---------------------------------------------------------- User settings*/
#main.subpage {
  .search-wrapper {
    width: 290px;
    height: 37px;
    background: url(../img/subpage-searchwrapper-bg.png) no-repeat center center;
    background-size: 290px 37px;
  }
  input[type="text"] {
    width: 206px;
    margin: 5px 6px 10px 5px;
  }
}
#main:before {
    content: "";
    width: 3000px;
    height: 370px;
    position: absolute;
    top: 280px;
    left: 50%;
    margin-left: -1500px;
    display: block;
    background: #fff;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
#main.subpage:before {
    content: "";
    width: 3000px;
    height: 370px;
    position: absolute;
    top: 280px;
    left: 50%;
    margin-left: -1500px;
    display: block;
    background: #fff;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
#account-settings {
  float: left;
  width: 100%;
  .title {
    float: left;
    width: 240px;
    font-family: "proxima-nova";
    font-size: 17px;
    color: #28ace2;
    text-transform: uppercase;
    background: url(../img/gradient-border.png) no-repeat left bottom;
    padding-bottom: 8px;
    background-size: 190px 7px;
    margin: 10px 0 30px 50px;
    position: relative;
  }
  .title:before {
    content: "";
    position: absolute;
    width: 37px;
    height: 34px;
    background: url(../img/gear-icon.png) no-repeat center center;
    top: 0;
    left: -47px;
  }
}
.tabs {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  .btn {
    border: 1px solid #c7c7c7;
    float: left;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 0 6px 10px 0;
    width: 135px;
    height: 45px;
    display: block;
    .transition (@type: all, @duration: .7s, @ease: ease);
    a {
      font-family: "proxima-nova";
      font-size: 14px;
      color: #646464;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      padding-top: 16px;
      text-align: center;
      outline: none;
      .transition (@type: all, @duration: .3s, @ease: ease);
    }
  }
  .btn.selected {
    a {
      color: #28ace2;
    }
  }
}
#main.subpage .user-info {
  .transition (@type: all, @duration: .5s, @ease: ease);
  h1 {
    font-family: "proxima-nova";
    font-size: 15px;
    color: #6e6e6e;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  form {
    float: left;
    width: 100%;
    input[type="text"] {
      float: left;
      width: 100%;
      background: #ececec url(../img/human-icon.png) no-repeat 10px center;
      font-family: "proxima-nova";
      color: #434a5c;
      font-size: 16px;
      padding: 10px 10px 10px 40px;
      outline: 0;
      border: 0;
      border-bottom: 2px solid #434a5c;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin: 0 0 15px 0;
    }
    .group .email {
      background: #ececec url(../img/email-icon.png) no-repeat 10px center;
      background-size: 18px 13px;
    }
    .group .location {
      background: #ececec url(../img/location-icon.png) no-repeat 10px center;
    }

    ::-webkit-input-placeholder {
      color: #28ace2;
    }
    :-moz-placeholder {
      color: #28ace2;
    }
    ::-moz-placeholder {
      color: #28ace2;
    }
    :-ms-input-placeholder {
      color: #28ace2;
    }
    input[type="text"]:focus::-webkit-input-placeholder { 
    color:transparent; 
    }
    input[type="text"]:focus:-moz-placeholder { 
      color:transparent; 
    }
  }
  .section {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: url(../img/dot.png) repeat-x left bottom;
    background-size: 5px 3px;
  }
  .user-img {
    float: left;
    width: 107px;
    height: 107px;
    background: url(../img/profile-placeholder.png) no-repeat center center;
    background-size: 107px 107px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-right: 10px;
  }
  .section.profile-pic label {
    width: 58%;
    font-family: "proxima-nova";
    font-size: 11px;
    color: #28ace2;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 15px;
  }
  .instruction {
    font-family: "proxima-nova";
    font-size: 12px;
    color: #707070;
    font-style: italic;
    line-height: 15px;
    float: left;
    width: 58%;
  }
  .fupload-wrapper {
    float: left;
    width: 58%;
    height: 44px;
    margin: 15px 0;
    background: url(../img/fupload-mobile.png) no-repeat left center;
    background-size: 179px  49px;
    .fup-name {
      display: none;
    }
    input[type="file"] {
      width: 100%;
      height: 44px;
      cursor: pointer;
      font-size: 14px;
      opacity: 0;
      position: relative;
      z-index: 10;
      float: left;
    }
  }
  .remember-me {
    float: left;
    margin-right: 10px;
  }
  .section.mail {
    background: transparent;
    .group {
      float: left;
      width: 100%;
      background: url(../img/dot.png) repeat-x left bottom;
      background-size: 5px 3px;
      margin-bottom: 15px;
    }
    .group.break {
      background: transparent;
    }
    label {
      font-family: "proxima-nova";
      font-size: 17px;
      font-weight: 700;
      color: #28ace2;
      text-transform: uppercase;
      float: left;
      margin-bottom: 5px;
    }
    p {
      font-family: "proxima-nova";
      font-size: 12px;
      color: #707070;
      line-height: 15px;
      float: left;
      margin-left: 30px;
      margin-bottom: 15px;
    }
    a {
      font-family: "proxima-nova";
      font-size: 16px;
      color: #28ace2;
      font-style: italic;
      border-bottom: 1px solid #c1e2f4;
    }
    input[type="submit"] {
      width: 100%;
      height: 44px;
      background: #28ace2;
      border: none;
      border-bottom: 3px solid #2c84a9;
      font-family: "proxima-nova";
      color: #fff;
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 30px;
      outline: none;
      cursor: pointer;
      -webkit-box-shadow: 0 2px 8px 0 #999999;
      box-shadow: 0 2px 8px 0 #999999;
    }
  }
}
.following {
  width: 100%;
  float: left;
  .transition (@type: all, @duration: .5s, @ease: ease);
  h1 {
    font-family: "proxima-nova";
    color: #28ace2;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
  }
  h2 {
    font-family: "proxima-nova";
    color: #28ace2;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  form {
    .cf();
  }
  .group {
    position: relative;
    float: left;
    width: 100%;
    input[type="search"] {
      float: left;
      width: 100%;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
      background: #9bd8f1;
      border: 0;
      font-family: "proxima-nova";
      color: #086084;
      font-size: 17px;
      outline: none;
      padding: 10px;
      padding-right: 50px;
    }
    .search-btn {
      position: absolute;
      top: 9px;
      right: 10px;
      width: 28px;
      height: 28px; 
      background: url(../img/loopus.png) no-repeat center center;
      background-size: 28px;
      border: 0;
      outline: none;
      text-indent: -9999px;
      cursor: pointer;
    }
    ::-webkit-input-placeholder {
      color: #086084;
    }
    :-moz-placeholder {
      color: #086084;
    }
    ::-moz-placeholder {
      color: #086084;
    }
    :-ms-input-placeholder {
      color: #086084;
    }
    input[type="search"]:focus::-webkit-input-placeholder { 
      color:transparent; 
    }
    input[type="search"]:focus:-moz-placeholder { 
      color:transparent; 
    }
  }
  ul {
    .cf();
    width: 290px;
    display: block;
    margin: 30px auto;
    li {
      display: inline-block;
      width: 62px;
      height: 75px;
      margin: 0 16px;
        .sticker-name {
        font-family: "proxima-nova";
        font-size: 14px;
        color: #086084;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        p {
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
        }
      }
    }
  .flip {
    width: 56px;
    height: 67px;
    .inner {
      position:relative;
      width: 56px;
      height: 55px;
      -webkit-perspective: 1500px;
      -moz-perspective: 1500px;
      -ms-perspective: 1500px;
      -o-perspective: 1500px;
      perspective: 1500px;
      margin-bottom: 10px;
      text-align: center;
      img {
        padding-top: 12px;
      }
    }
    .front {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: #fff;
      border: 2px solid #086084;
      position: absolute;
      top:0;
      left:0;
      width: 56px;
      height: 55px;
      z-index: 900;
      /* webkit */
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);

      /* moz */
      -moz-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform-style: preserve-3d;
      -moz-backface-visibility: hidden;
      -moz-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);

      /* ms */
      -ms-transform: rotateX(0deg) rotateY(0deg);
      -ms-transform-style: preserve-3d;
      -ms-backface-visibility: hidden;
      -ms-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);

      /* opera */
      -o-transform: rotateX(0deg) rotateY(0deg);
      -o-transform-style: preserve-3d;
      -o-backface-visibility: hidden;
      -o-transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);
      
      /* default */
      transform: rotateX(0deg) rotateY(0deg);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: all 360ms cubic-bezier(0.29, 1.44, 0.86, 1.10);
    }
    .back {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: #eb0a8d;
      position: absolute;
      top:0;
      left:0;
      width: 54px;
      height: 55px;
      z-index: 800;
      /* webkit */
      -webkit-transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

      /* moz */
      -moz-transform: rotateY(-180deg);
      -moz-transform-style: preserve-3d;
      -moz-backface-visibility: hidden;
      -moz-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

      /* ms */
      -ms-transform: rotateY(-180deg);
      -ms-transform-style: preserve-3d;
      -ms-backface-visibility: hidden;
      -ms-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

      /* opera */
      -o-transform: rotateY(-180deg);
      -o-transform-style: preserve-3d;
      -o-backface-visibility: hidden;
      -o-transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );

      /* default */
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: all 360ms cubic-bezier( 0.29, 1.44, 0.86, 1.10 );
    }
  }
  li:hover {
    .sticker-name {
        p {
          color: #eb0a8d;
        }
      }
      .flip .front {
        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        border-right: none;
      }
      .flip .back {
        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg);
      }
    }
    li.active {
    .sticker-name {
        p {
          color: #eb0a8d;
        }
      }
      .flip .front {
        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        border-right: none;
      }
      .flip .back {
        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg);
      }
    }
  }
}
.hunter-wrapper {
  .cf();
  padding-bottom: 40px;
  margin-bottom: 30px;
  background: url(../img/results-divider.png) no-repeat center bottom; 
}
.results {
  .cf();
  width: 100%;
  .box {
    .cf();
    position: relative;
    width: 95%;
    min-height: 96px;
    background: #f2f2f2;
    margin-bottom: 30px;
    float: left;
    h1 {
      margin-bottom: 10px;
      line-height: 20px;
    }
    a {
      color: #28ace2;
    }
    p {
      font-family: "proxima-nova";
      color: #707070;
      font-size: 11px;
      font-style: italic;
      margin-bottom: 20px;
      line-height: 14px;
    }
    .thumb {
      float: left;
      margin-right: 10px;
    }
    .box-content {
      float: left;
      width: 53%;
      padding: 10px 20px 0 0;
    }
    .close {
      position: absolute;
      top: 50%;
      right: -15px;
      margin-top: -15px;
      width: 31px;
      height: 31px;
      display: block;
      cursor: pointer;
      background: url(../img/close-icon.png) no-repeat center center;
      background-size: 31px;
      text-indent: -9999px;
    }
  }
  .box:after {
    content:"";
    width: 100%;
    height: 25px;
    display: block;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: url(../img/big-box-shadow.png) no-repeat left bottom;
    background-size: 100% 25px;
    visibility: visible;
    z-index: -1;
  }
}

// Delete if media queries not in use
/* ==================================================
    =Media Queries
===================================================== */

@media only screen and (min-width: 768px) {

.container {
  width: 751px;
  float: none;
}

#modal.login-trigger .modal-box {
  width: 360px;
  padding: 20px 30px;
}
#modal.login-trigger .modal-content .close {
  top: 0;
  right: 0;
}

#modal.registration-trigger .modal-box {
  width: 360px;
  padding: 20px 30px;
}
#modal.registration-trigger .modal-content .close {
  top: 0;
  right: 0;
}

#page-header .container {
  width: 100%;
}

#promo .container {
  width: 100%;
}

#page-header {
  padding: 40px 30px;
  .site-logo {
    width: 275px;
    height: 62px; 
    background-size: 275px 62px;
  }
}

#promo {
  height: 620px;
  .slider-imgs {
    height: 620px;
    img {
      height: 620px;
    }
  }
}
#promo:after {
  top: 587px;
  height: 500px;
}
.login-signup {
  width: 160px;
  float: right;
  margin-top: 4px;
  li {
    font-size: 16px;
  }
  .login {
    position: relative;
  }
  .login:after {
    content: "";
    width: 31px;
    height: 31px;
    position: absolute;
    top: -7px;
    left: -40px;
    display: block;
    background: url(../img/login-icon.png) no-repeat left center;
  }
}
#promo {
  .slider {
    width: 319px;
    height: 92px;
    position: absolute;
    right: 50px;
    top: 380px;
    margin: 0;
    .slide {
      width: 319px;
      height: 92px;
      .slide-content-wrapper {
        height: 92px;
        background-size: 100% 92px;
        article {
          padding: 10px 15px;
          h1 {
            font-size: 17px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
#promo .slider .owl-pagination {
  top: -120px;
  .owl-page {
    span {
      width: 10px;
      height: 10px;
      margin: 0 5px;
    }
  }
  .owl-page.active span {
    width: 16px;
    height: 16px;
  }
}
.search-wrapper {
  width: 740px;
  height: 298px;
  background-size: 740px 298px;
  margin-top: -115px;
  .search-form {
    input[type=text] {
      width: 510px;
      margin: 15px 20px 40px 30px;
      font-size: 22px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      padding: 15px 0 15px 10px;
    }
    ::-webkit-input-placeholder {
      font-size: 22px;
    }
    :-moz-placeholder { 
      font-size: 22px;
    }
    ::-moz-placeholder {  
      font-size: 22px;
    }
    :-ms-input-placeholder {  
      font-size: 22px;
    }
    input[type="submit"] {
      font-size: 16px;
      font-weight: 600;
      padding: 18px 50px 19px;
      margin-top: 15px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
  }
  .content {
    margin-left: 35px;
    width: 502px;
    p {
      font-size: 16px;
    }
  }
  .contextual-search {
    top: 73px;
    left: 30px;
    width: 510px;
  }
}
.events {
  float: none;
  margin: 0 auto;
  padding-bottom: 50px;
  .title {
    width: 260px;
    font-size: 23px;
    background-size: 260px 11px;
    padding-bottom: 0;
    margin-bottom: 30px;
    span {
      font-size: 14px;
      padding-bottom: 10px;
    }
    .event-number {
      font-size: 34px;
      margin-top: -10px;
    }
  }
  article p {
    font-size: 16px;
    line-height: 22px;
  }
}
.events .features {
  float: left;
  .feature {
    float: left;
    width: 320px;
    margin: 0 22px 20px;
  }
}
.popular-events {
  padding-bottom: 30px;
  .title {
    font-size: 26px;
    margin-top: -107px;
    background-size: 260px 11px;
    padding-bottom: 10px;
    width: 310px;
  }
  form {
    float: right;
    margin-right: 55px;
    margin-top: -50px;
  }
  .box-wrapper {
    width: 100%;
    .box {
      width: 260px;
      margin: 20px 52px 40px;
    }
    .box:after {
      background: url(../img/after-shadow.png) no-repeat left center;
      background-size: 260px 51px;
    }
  }
}
.popular-searches {
  .container {
    width: 751px;
  }
  .title {
    font-size: 26px;
    background-size: 260px 11px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .search-list-wrapper {
    margin-bottom: 40px;
    float: left;
    width: 240px;
  }
}

#page-footer {
  padding-bottom: 0;
  .logo {
    float: left;
    background: url(../img/logo.png) no-repeat left center;
    background-size: 195px 46px;
    width: 60%;
  }
  .footer-nav {
    text-align: left;
    width: 50%;
  }
  .socials {
    float: right;
    margin-top: -270px;
    width: 360px;
      li {
        padding-left: 15px;
        a {
        width: 50px;
        height: 50px;
        .flip {
          width: 50px;
          height: 50px;
          margin-left: -25px;
          .inner {
            width: 50px;
            height: 50px;
            img {
              padding-top: 17px;
            }
            .front,
            .back {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
    li:after {
      width: 23px;
      height: 25px;
      top: 15px;
      left: 77px;
      background-size: 23px 25px;
    }
  }
  .disclaimer {
    float: right;
    width: 60%;
    text-align: right;
    margin-top: -210px;
    p {
      font-size: 16px;
    }
  }
}
#page-footer:after {
  width: 771px;
  height: 175px;
  margin-left: -385px;
  background-size: 771px 175px;
}
/*--------------------------------------- subpage*/
#promo.subpage {
  height: 510px;
  .slider-imgs {
    height: 510px;
    img {
      height: 510px;
    }
  }
}
#main:before {
  top: 609px;
  margin-left: -1750px;
}
#main.subpage:before {
  top: 490px;
  margin-left: -1750px;
}
#main.subpage .search-wrapper {
  width: 740px;
  height: 77px;
  background-size: 740px 77px;
  margin: -70px 0 30px 0;
  .search-form input[type="text"] {
    width: 531px;
    margin: 9px 18px 0 9px;
  }
  .search-form input[type="submit"] {
    width: 171px;
    margin-top: 9px;
  }
  .contextual-search {
    left: 10px;
    width: 530px;
  }
}
#account-settings .title {
  font-size: 20px;
  width: 290px;
  padding-bottom: 13px;
  background-size: 258px 11px;
}
.tabs {
  margin-bottom: 50px;
  .buttons {
    float: left;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #c7c7c7;
    .btn {
      border: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    .btn.selected {
      border: 1px solid #c7c7c7;
      border-bottom: 1px solid #fff;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
#main.subpage .user-info {
  float: left;
  padding-bottom: 30px;
  .section {
    width: 350px;
  }
  .user-location {
    float: right;
    padding-bottom: 134px;
  }
  .profile-pic {
    float: right;
    label {
      font-size: 13px;
    }
    p {
      font-size: 14px;
    }
  }
}
#main.subpage .user-info .section.mail {
  label {
    font-size: 21px;
  }
  p {
    font-size: 16px;
    line-height: 19px;
  }
}
.following {
  padding-bottom: 50px;
}
.results .box .thumb {
  margin-right: 20px;
}
.results .box .box-content {
  width: 80%;
  padding-top: 15px;
  h1¸{
    font-size: 19px;
  }
  p {
    font-size: 12px;
  }
}


}/*<------------------------------------- end of media querry*/

@media only screen and (min-width: 1161px) {

.mob-nav-open #wrapper {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.mobile-nav {
  display: none;
}



#page-header {
  padding: 20px 0;
  width: 1127px;
  display: block;
  margin: 0 auto;
  float: none;
  left: 50%;
  margin-left: -555px;
  .menu-btn {
    display: none;
  }
  .main-nav {
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    li {
      display: inline-block;
      position: relative;
      padding: 5px 15px;
      a {
        font-family: "proxima-nova";
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
      }
      .sub-wrapper {
        opacity: 0;
        visibility: hidden;
        display: none;
        padding-top: 15px;
        position: absolute;
        top: 23px;
        left: 0px;
        background: #fff;
        width: 450px;
        padding-bottom: 10px;
        border-bottom: 4px solid #eb0a8d;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        ul {
          float: left;
          display: inline-block;
          width: 150px;
          border-left: 1px solid #d9d9d9;
          li {
            padding: 10px 0 10px 20px;
            width: 100%;
            a {
              color: #000;
              text-transform: none;
              font-size: 14px;
            }
          }
          .more {
            a {
              width: auto;
              color: #eb0a8d;
              padding-right: 20px;
              background: url(../img/arr-right-pink.png) no-repeat right center;
              background-size: 6px 10px;
              -webkit-transition: all .3s ease-in-out;
              -moz-transition: all .3s ease-in-out;
              -o-transition: all .3s ease-in-out;
              transition: all .3s ease-in-out;
            }
          }
          li:hover {
            background-color: #eb0a8d;
            a {
              color: #fff;
            }
          }
          .more:hover {
            background: transparent;
            a {
              color: #eb0a8d;
              padding-left: 15px;
            }
          }
        }
      }
    }
    li:hover {
      background: #fff;
      a {
        color: #eb0a8d;
      }
      .sub-wrapper {
        display: block;
        opacity: 1;
        visibility: visible;
      }
      .categories {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
    .categories {
      opacity: 0;
      visibility: hidden;
      display: none;
      width: 130px;
      height: 539px;
      padding-top: 15px;
      position: absolute;
      top: 23px;
      left: 0px;
      background: #fff;
      padding-bottom: 10px;
      border-bottom: 4px solid #eb0a8d;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      li {
        padding: 10px 0 10px 20px;
        width: 100%;
         position: static;
        .sub-wrapper {
          left: 130px;
          top: 0px;
          width: 300px;
          height: 539px;
          -webkit-box-shadow: -10px 0 20px -10px #000000;
          box-shadow: -10px 0 20px -10px #000000;
          -webkit-border-top-left-radius: 0;
          -webkit-border-bottom-left-radius: 0;
          -moz-border-radius-topleft: 0;
          -moz-border-radius-bottomleft: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          display: none;
          opacity: 0;
          visibility: visible;
          ul {
            height: 520px;
          }
          li {
            padding: 10px 0 10px 20px;
            width: 100%;
            a {
              color: #000;
              text-transform: none;
              font-size: 14px;
            }
          }
        }
        a {
          color: #000;
          text-transform: none;
          font-size: 14px;
        }
      }
      li:hover {
          background-color: #eb0a8d;
          a {
            color: #fff;
          }
          .sub-wrapper {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
      .more {
          a {
            width: auto;
            color: #eb0a8d;
            padding-right: 20px;
            background: url(../img/arr-right-pink.png) no-repeat right center;
            background-size: 6px 10px;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
          }
        }
      .more:hover {
        background: transparent;
        a {
          color: #eb0a8d;
          padding-left: 15px;
        }
      }
    }
  }
}
.login-signup {
  margin-top: 20px;
}
#promo .slider {
  right: 20%;
  top: 210px;
}
#promo:after {
  top: 576px;
  height: 200px;
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#promo .slider-imgs img {
  height: auto;
}
.container {
  width: 1140px;
  padding: 0;
}
.search-wrapper {
  float: right;
  margin: -215px 0 0;
}
.search-wrapper .contextual-search a {
  font-size: 15px;
}
.events .title {
  padding: 15px;
  width: 290px;
  padding-bottom: 0;
  position: relative;
  top: -55px;
  background: #fff url(../img/gradient-border.png) no-repeat 15px bottom;
  background-size: 260px 11px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.events .features .feature {
  width: 540px;
  margin: 20px 0 20px 0;
}
.events .features .feature.odd {
  float: left;
}
.events .features .feature.even {
  float: right;
}
.events .thumb .thumb-wrapper {
  float: left;
}
.events .thumb {
  width: 155px;
}
.events article {
  width: 385px;
  text-align: left;
}
.popular-events {
  padding-bottom: 50px;
}
.popular-events .title {
  margin-top: -32px;
  width: 500px;
}
.popular-events form {
  margin-right: 0;
  margin-top: 20px;
}
.popular-events .box-wrapper {
  float: left;
  margin-top: 30px;
}
.popular-events .box-wrapper .box {
  margin: 20px 12px 40px;
}
.popular-searches {
  .container {
    width: 1160px;
  }
  padding: 30px 0 40px;
}
.popular-searches .search-list-wrapper {
  width: 190px;
}
#page-footer .container {
  padding: 0 10px;
}
#page-footer:after {
  width: 1160px;
  height: 285px;
  margin-left: -555px;
  background-size: 1160px 284px;
}

/*--------------------------------------- subpage*/
#promo.subpage {
  height: 420px;
  .slider-imgs {
    height: 4200px;
    img {
      height: auto;
    }
  }
}
#main.subpage .search-wrapper {
  margin-top: -105px;
}
.tabs {
  .buttons {
    float: left;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #c7c7c7;
    .btn {
      width: 220px;
      height: 55px;
      a {
        font-size: 17px;
        padding-top: 23px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
      a:hover {
        color: #28ace2;
      }
    }
  }
}
#main.subpage .user-info {
  padding-bottom: 50px;
  form input[type="text"] {
    width: 270px;
    margin-right: 15px
  }
  .remember-me {
    margin-right: 20px;
  }
  .section {
    width: 571px;
    float: left;
  }
  .user-location {
    float: left;
    padding-bottom: 20px; 
  }
  .section.profile-pic {
    float: left;
    background: transparent;
    .user-img {
      width: 130px;
      height: 130px;
      background-size: 130px 130px;
      margin-right: 20px;
    }
    label {
      font-size: 15px;
      width: 420px;
    }
    p {
      width: 420px;
      font-size: 15px;
    }
  }
  .fupload-wrapper {
    position: relative;
    margin: 20px 0;
    .fup-name {
      display: block;
      width: 270px;
      height: 51px;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      font-family: "proxima-nova";
      color: #28ace2;
      font-size: 19px;
      padding: 20px 0 0 20px;
    }
    width: 420px;
    height: 64px;
    background: url(../img/fupload-desktop.png) no-repeat center center;
  }
  .section.mail {
    float: right;
    width: 520px;
    margin-top: -320px;
    input[type="submit"] {
      margin-top: 38px;
    }
    label {
      width: 480px;
    }
    p {
      margin-left: 40px;
    }
    a {
      margin-left: 40px;
      font-size: 17px;
    }
  }
}
.following {
  .description {
    float: left;
    width: 400px;
    margin-right: 30px;
    float: left;
  }
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 14px;
  }
  form {
    float: left;
  }
  .group {
    width: 395px;
  }
  .options {
    float: left;
    margin: 0 0 0 20px;
  }
}
.hunter-wrapper {
  padding-bottom: 55px;
}
.results .box {
  width: 540px;
  margin: 0 15px 30px 15px;
  h1 {
    font-size: 18px;
  }
  .box-content {
    width: 75%;
  }
}
}/*<------------------------------------- end of media querry*/


@media only screen and (min-width: 2030px) {
  #promo .slider-imgs img {
    width: 100% !important;
  }
}

/* ==================================================
    =High def devices
===================================================== */

// Source https://gist.github.com/3446599
@media  only screen and (min-device-pixel-ratio: 1.3),
        only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) {
    // Place code here
}




// Animations

.feature .thumb .thumb-wrapper {
  .colored,
  .black-white {
    .transition(all, 0.4s, ease);
  }
}
.feature h1 {
  .transition(all, 0.4s, ease);
}
.feature.inactive h1 {
    color: #c4c4c4;
}
.feature.inactive .thumb .thumb-wrapper {
  .colored {
    visibility: hidden;
    opacity: 0;
  }
  .black-white {
    opacity: 0.6;
  }
}
.popular-events .thumb {
  overflow: hidden;
  p {
    width: 100%;
    position: absolute;
    top: 80px;
    text-align: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    .transition(all, 0.3s, ease);
  }
  p span {
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 10px 16px;
  }
  img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    .transition(all, 0.3s, ease);
  }
}
.popular-events .box .thumb a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(40,172,226,0.7);
  visibility: hidden;
  opacity: 0;
  .transition(all, 0.3s, ease);
}
.popular-events .box:hover {
  .thumb a:after {
    visibility: visible;
    opacity: 1;
  }
  .thumb p {
    visibility: visible;
    opacity: 1;
  }
  .thumb img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.popular-searches .search-list-wrapper ul li {
  .transition(all, 0.3s, ease);
}
.popular-searches .search-list-wrapper .more {
  position: relative;
  left: 0;
  .transition(all, 0.3s, ease);
}
.popular-searches .search-list-wrapper .more:hover {
  left: 5px;
}

#page-footer .container {
  position: relative;
  z-index: 10;
}

#page-footer .footer-nav li a {
  .transition(all, 0.3s, ease);
}
#page-footer .footer-nav li a:hover {
  color: #eb0a8d;
}

#page-footer .socials li a {
  .transition(all, 0.2s, ease);
}
#page-footer .socials li:hover a {
  border: none;
}
#page-footer .socials li .flip .back {
  border-radius: 22px;
  background: #57cde8;
  position: relative;
  top: 3px;
}
#page-footer .socials li .flip .back:after {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 52px;
  height: 52px;
  border: 2px solid #57cde8;
  border-radius: 28px;
}

@media only screen and (min-width: 768px) {
  #page-footer .socials li .flip .back {
    border-radius: 25px;
    top: 3px;
  }
  #page-footer .socials li .flip .back:after {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: -6px;
    width: 58px;
    height: 58px;
    border: 2px solid #57cde8;
    border-radius: 30px;
  }
}

// Favorite
.popular-events .box-content .favorite,
.popular-events .box-content .add {
  .transition(all, 0.3s, ease);
}
.popular-events .box-content .favorite:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/heart-2.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  .transition(all, 0.3s, ease);
}
.popular-events .box-content .favorite:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/heart-hover.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  .transition(all, 0.3s, ease);
}
.popular-events .box-content .favorite:hover:before {
  visibility: visible;
  opacity: 1;
}
.popular-events .box-content .favorite.active:after {
  visibility: visible;
  opacity: 1;
}

// Add
.popular-events .box-content .add:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/add-2.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  .transition(all, 0.3s, ease);
}
.popular-events .box-content .add:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff url(../img/add-hover.png) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  .transition(all, 0.3s, ease);
}
.popular-events .box-content .add:hover:before {
  visibility: visible;
  opacity: 1;
}
.popular-events .box-content .add.active:after {
  visibility: visible;
  opacity: 1;
}


// Slider paralax

@media only screen and (min-width: 1161px) {
   #main:before {
    left: 50%;
    margin-left: -1500px;
    display: block;
    background: #fff;
    top: 576px;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  #main.subpage:before {
    top: 390px;
    margin-left: -1790px;
  }
}
@media only screen and (max-width: 1161px) {
  #promo {
    top: auto !important;
  }
}

// // Slider arrows

#promo .slider {
  .owl-buttons {
    display: block;
    position: absolute;
    top: 26px;
    width: 100%;
  }
  .owl-prev,
  .owl-next {
    position: absolute;
    display: none;
    width: 23px;
    height: 23px;
    background-position: top left;
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: -999px;
    overflow-x: hidden;
    .transition(all, 0.2s, ease);
  }
  .owl-prev {
    left: -14px;
    background: url(../img/arr-prev.png);  
  }
  .owl-next {
    right: -14px;
    background: url(../img/arr-next.png);
  }
  .owl-prev:hover {
    left: -18px;
  }
  .owl-next:hover {
    right: -18px;
  }
}
@media only screen and (min-width: 768px) {
  #promo .slider .owl-buttons {
    top: 34px;
    .owl-prev,
    .owl-next {
      display: inline-block;
    }
  }
}
@media only screen and (min-width: 1161px) {
  #promo .slider .owl-buttons {
    top: 34px;
  }
}



